extends ../template-uikit/template-uikit

include ../text-field/text-field
include ../dropdown-quantity/dropdown-quantity
include ../date-range/date-range
include ../date-filter/date-filter
include ../subscription/subscription
include ../checkbox/checkbox
include ../radio/radio
include ../toggle/toggle
include ../like/like
include ../rate-button/rate-button
include ../range-slider/range-slider
include ../button/button
include ../pagination/pagination
include ../checkbox-list/checkbox-list
include ../checkbox-rich/checkbox-rich
include ../bullet-list/bullet-list
include ../info/info
include ../review/review

block page-uikit
  article.uikit-elements
    aside.uikit-elements__sect1
      div.uikit-elements__sect1-element
        label
          span.uikit-elements__sect1-element-caption Default
          h3 Text field
          +text-field({type: "email", value: "Email"})
      div.uikit-elements__sect1-element
        label
          span.uikit-elements__sect1-element-caption Hover / Focus
          h3 Text field
          +text-field({type: "text", value: "Имя"})
      div.uikit-elements__sect1-element
        span.uikit-elements__sect1-element-caption Default
        h3 Dropdown
        +dropdown-quantity
      div.uikit-elements__sect1-element
        label
          span.uikit-elements__sect1-element-caption Default
          h3 Masked text field
          +text-field({type: "text", value: "дд.мм.гггг", mask: "99.99.9999"})
      div.uikit-elements__sect1-element
        div.uikit-elements__sect1-element-title-dropdown
          h3 Date dropdown
          h3 Date dropdown
        +date-range
      div.uikit-elements__sect1-element
          h3 Filter date dropdown
          +date-filter
      div.uikit-elements__sect1-element
        label
          h3 Subscription text field
          +subscription

    aside.uikit-elements__sect2
      div.uikit-elements__sect2-element
        h3 Checkbox buttons
        div.uikit-elements__sect2-element-checkbox
          +checkbox({name: "smoke", caption: "Можно курить"})
        div.uikit-elements__sect2-element-checkbox
          +checkbox({name: "pet", caption: "Можно с питомцами", checked: "checked"})
        div.uikit-elements__sect2-element-checkbox
          +checkbox({name: "guests", caption: "Можно пригласить гостей (до 10 человек)", checked: "checked"})
      div.uikit-elements__sect2-element
        h3 Radio buttons
        div.uikit-elements__sect2-element-radio
          +radio({name: "registration__mw-radio", value: "m", caption: "Мужчина", checked: "true"})
        div.uikit-elements__sect2-element-radio
          +radio({name: "registration__mw-radio", value: "w", caption: "Женщина"})
      div.uikit-elements__sect2-element
        h3 Toggle
        div.uikit-elements__sect2-element-toggle
          +toggle({caption: "Получать спецпредложения", checked: "checked"})
        div.uikit-elements__sect2-element-toggle
          +toggle({caption: "Получать спецпредложения"})
      div.uikit-elements__sect2-element
        h3 Like button
        div.uikit-elements__sect2-element-like
          +like
        div.uikit-elements__sect2-element-like
          +like("checked")
      div.uikit-elements__sect2-element
        h3 Rate button
        div.uikit-elements__sect2-element-rate
          +rate-button
        div.uikit-elements__sect2-element-rate
          +rate-button

    aside.uikit-elements__sect3
      div.uikit-elements__sect3-element
        h3 Range slider
        div.uikit-elements__sect3-element-range
          +range-slider
      div.uikit-elements__sect3-element
        h3 Buttons
        div.uikit-elements__sect3-element-group1
          div.uikit-elements__sect3-element-group1-button
            +button({type: "button", text: "Click me", mode: "registration"})
          div.uikit-elements__sect3-element-group1-button
            +button({type: "button", text: "Click me", mode: "registration", disabled: "true"})
        div.uikit-elements__sect3-element-group2
          div.uikit-elements__sect3-element-group2-button
            +button({type: "button", text: "Click me", mode: "come-in"})
          div.uikit-elements__sect3-element-group2-button
            +button({type: "button", text: "Click me", mode: "come-in", disabled: "true"})
        div.uikit-elements__sect3-element-group3
          div.uikit-elements__sect3-element-group3-button
            +button({type: "button", text: "Click me", mode: "picker"})
          div.uikit-elements__sect3-element-group3-button
            +button({type: "button", text: "Click me", mode: "picker-grey"})
        div.uikit-elements__sect3-element-button
          +button({type: "button", text: "Перейти к оплате", mode: "forward"})
      div.uikit-elements__sect3-element
        h3 Pagination
        div.uikit-elements__sect3-element-pagination
          +pagination

    aside.uikit-elements__sect4
      div.uikit-elements__sect4-element
        span.uikit-elements__sect4-element-caption Default
        h3 Dropdown
        +dropdown-quantity
      div.uikit-elements__sect4-element
        span.uikit-elements__sect4-element-caption Expanded
        h3 Dropdown
        +dropdown-quantity

    aside.uikit-elements__sect5
      h3 Dropdown
      +dropdown-quantity

    aside.uikit-elements__sect6
      h3 Dropdown
      +dropdown-quantity

    aside.uikit-elements__sect7
      div.uikit-elements__sect7-element
        +checkbox-list("Expandable checkbox list")
      div.uikit-elements__sect7-element
        +checkbox-list("Expandable checkbox list")

    aside.uikit-elements__sect8
      h3 Rich checkbox buttons
      +checkbox-rich

    aside.uikit-elements__sect9
      h3 Bullet list
      +bullet-list

    aside.uikit-elements__sect10
      div.uikit-elements__sect10-info
        +info
      div.uikit-elements__sect10-info
        +info
    aside.uikit-elements__sect11
      +review