include ../rate-button/rate-button

mixin card-room
	- const name = Math.random();
	div.card-room.js-card-room
		div.card-room__slider
			input.card-room__slider-radio.js-card-room__slider-radio(type="radio" name=name value="1")
			div.card-room__slider-item
			img.card-room__slider-img.js-card-room__slider-img
			input.card-room__slider-radio.js-card-room__slider-radio(type="radio" name=name value="2")
			div.card-room__slider-item
			img.card-room__slider-img.js-card-room__slider-img
			input.card-room__slider-radio.js-card-room__slider-radio(type="radio" name=name value="3")
			div.card-room__slider-item
			img.card-room__slider-img.js-card-room__slider-img
			input.card-room__slider-radio.js-card-room__slider-radio(type="radio" name=name value="4" checked)
			div.card-room__slider-item
			img.card-room__slider-img.js-card-room__slider-img
			div.card-room__slider-control
				div.card-room__slider-control-left
					button.card-room__slider-control-left-button.js-card-room__slider-control-left-button(type="button")
				div.card-room__slider-control-right
					button.card-room__slider-control-right-button.js-card-room__slider-control-right-button(type="button")
		div.card-room__price
			div.card-room__price-room
				span.card-room__price-num &#8470;&#x2002;
				span.card-room__price-number.js-card-room__price-number
				span.card-room__price-level.js-card-room__price-level
			div.card-room__price-pay
				span.card-room__price-pay-amount.js-card-room__price-pay-amount
				span.card-room__price-pay-rub &#x20bd;&nbsp;
				span.card-room__price-pay-term в сутки
		div.card-room__review
			+rate-button
			span.card-room__review-quantity.js-card-room__review-quantity
			span.card-room__review-term &#160;Отзывов