extends ../../templates/template-site/template-site

include ../../components/info/info
include ../../components/diagram/diagram
include ../../components/review/review
include ../../components/bullet-list/bullet-list
include ../../components/form-reservation/form-reservation

block page-site
	article.page-room
		section.page-room__preview
		section.page-room__details
			aside.page-room__details-info
				h2.page-room__details-info-title Сведения о номере
				div.page-room__details-info-item
					+info({name: "Комфорт", text: "Шумопоглощающие стены", img: "img/info-ico1.svg"})
				div.page-room__details-info-item
					+info({name: "Удобство", text: "Окно в каждой из спален", img: "img/info-ico2.svg"})
				div.page-room__details-info-item
					+info({name: "Уют", text: "Номер оснащен камином", img: "img/info-ico3.svg"})
			aside.page-room__details-effect
				+diagram
			aside.page-room__details-reviews
				div.page-room__details-reviews-header
					h2.page-room__details-reviews-header-title Отзывы посетителей номера
					span 2 отзыва
				div.page-room__details-reviews-item
					+review({
						avatar: "img/review-avatar1.jpg",
						name: "Мурад Сарафанов",
						date: "5 дней назад",
						quote: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару \u2014 никто не жаловался из соседей."
					})
				div.page-room__details-reviews-item
					+review({
						avatar: "img/review-avatar2.jpg",
						name: "Патрисия Стёклышкова",
						date: "Неделю назад",
						quote: "Обслуживание на высоте! Все аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент"
					})
			aside.page-room__details-rules
				+bullet-list({header: "Правила"})
			aside.page-room__details-cancel
				h2.page-room__details-cancel-title Отмена
				p.page-room__details-cancel-note
				|Бесплатная отмена в течении 48 ч. После этого при отмене не позднее чем за 5 дн. до
				|прибытия вы получите полный возврат за вычетом сбора за услуги.
			aside.page-room__details-reservation
				+form-reservation