.dropdown
  background-color: white
  position: relative
  height: 100%
  & button
    outline: none

  &__head
    display: flex
    justify-content: space-between
    align-items: center
    box-sizing: border-box
    border: 1px solid rgba(31, 32, 65, 0.25)
    border-radius: 4px
    height: 100%
    &_border-color
      border-color: rgba(31, 32, 65, 0.5)

    &-out
      padding-left: 14px

    &-button
      width: 44px
      height: 100%

  &__picker
    display: none
    position: absolute
    top: 96%
    width: 100%
    background-color: white
    z-index: 1
    border: 1px solid rgba(31, 32, 65, 0.5)
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05)
    box-sizing: border-box
    border-radius: 0 0 4px 4px
    padding: 6px 7px 13px 15px
    &_display
      display: block

    &-item
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: 7px

      &:last-of-type
        margin-top: 20px
        margin-bottom: 0

      &-quantity
        display: flex
        justify-content: space-between
        align-items: center
        width: 92px

        &-minus, &-plus
          width: 30px
          height: 30px
          font-size: 18px
          line-height: 22px
          color: rgba(31, 32, 65, 0.25)
          background-color: white
          border: 1px solid rgba(31, 32, 65, 0.25)
          box-sizing: border-box
          border-radius: 50%

          &:disabled
            opacity: 0.35

      &-clear
        visibility: hidden