mixin pagination
	-
		const classes = {
			'first': '1',
			'second': '2',
			'third': '3',
			'intermediate': '...',
			'last': '15',
			'next': '',
		}
	div.pagination
		form.pagination__control
			- for (let key in classes)
				button(type="button" class=`pagination__control-${key}`) #{classes[key]}
		span.pagination__result 1 &#x2013; 12 из 100+ вариантов аренды