mixin pagination({ caption, buttons } = {})
  div.pagination
    div.pagination__control
      - for (let key in buttons)
        button(type="button" class=`pagination__control-${key}`)= buttons[key]
    span.pagination__result= caption