mixin pagination
	div.pagination
		form.pagination__control
			button(type="button").pagination__control-first 1
			button(type="button").pagination__control-second 2
			button(type="button").pagination__control-third 3
			button(type="button").pagination__control-intermediate ...
			button(type="button").pagination__control-last 15
			button(type="button").pagination__control-next
		span.pagination__result 1 &#x2013; 12 из 100+ вариантов аренды