.pagination
  display: table
  &__control
    display: table-row
    &-first, &-second, &-third, &-intermediate, &-last, &-next
      font-family: Montserrat, sans-serif
      font-size: 12px
      line-height: 15px
      width: 40px
      height: 40px
      border-radius: 22px
      border: none
      outline: none

      &:hover:not(.pagination__control-intermediate)
        opacity: .8

      &:active:not(.pagination__control-intermediate)
        opacity: .4

    &-first
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
      font-weight: bold
      color: white

    &-second, &-third, &-last, &-intermediate
      color: rgba(31, 32, 65, 0.5)
      background: white

    &-next
      vertical-align: bottom
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
      &::after
        display: block
        font-family: "Material Icons", sans-serif
        font-size: 24px
        line-height: 24px
        content: '\e5c8'
        color: white

  &__result
    display: table-cell
    text-align: center
    padding-top: 12px
    font-size: 14px
    line-height: 14px
