mixin pagination
	div.pagination
		form.pagination__control
			button.pagination__control-first(type="button") 1
			button.pagination__control-second(type="button") 2
			button.pagination__control-third(type="button") 3
			button.pagination__control-intermediate(type="button") ...
			button.pagination__control-last(type="button") 15
			button.pagination__control-next(type="button")
		span.pagination__result 1 &#x2013; 12 из 100+ вариантов аренды