include ../button/button
include ../select/select

style
    include form-search-number.scss

form.form-search-number
    h2.block Найдем номер под ваши пожелания
    div.date-in
        label.block(for="date-entry") Прибытие
        input(type="date" id="date-entry")
    div.date-out
        label.block(for="date-checkout") Выезд
        input(type="date" id="date-checkout")
    label.block Гости
    +select
    +button("Подобрать номер")
