mixin radio(props)
	-let { name, value, caption, checked } = props
	label.radio
		if(props)
			input.radio__check(type="radio", name=name, value=value, checked=checked)
		div.radio__checkbox
		span.radio__caption=caption