mixin radio({ name, value, caption, isChecked } = {})
	label.radio
		input.radio__check(type="radio", name= name, value= value, checked= isChecked)
		div.radio__checkbox
		span.radio__caption= caption