.rate-button
  &__star
    display: flex
    justify-content: flex-start
    background: linear-gradient(180deg, $color-purple 0%, #8BA4F9 100%)

    &::before
      @include font-icon
      background: white
      color: black
      content: '\e904'
      mix-blend-mode: lighten
      cursor: pointer


  &__radio
    position: absolute
    opacity: 0
    z-index: -1

  &__star:hover:before
    text-shadow: 0 0 5px $color-primary-shady

  &__radio:checked + label label, &__radio:checked + label
    &::before
      content: '\e905'