.rate-button
  max-width: 120px

  &__star
    display: flex
    width: 24px
    height: 24px
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)

    &::before
      font-family: "Material Icons", Icomoon, sans-serif
      font-size: 24px
      line-height: 24px
      background: white
      color: black
      content: '\e904'
      mix-blend-mode: lighten
      cursor: pointer


  &__radio
    position: absolute
    opacity: 0
    z-index: -1

  &__star:hover:before
    text-shadow: 0 0 5px rgba(31, 32, 65, 0.5)

  &__radio:checked + label label, &__radio:checked + label
    &::before
      content: '\e905'