extends ../../templates/template-uikit/template-uikit

include ../../components/heading/heading
include ../../components/text-field/text-field
include ../../components/dropdown-quantity/dropdown-quantity
include ../../components/date-range/date-range
include ../../components/date-filter/date-filter
include ../../components/subscription/subscription
include ../../components/checkbox-group/checkbox-group
include ../../components/radio/radio
include ../../components/toggle/toggle
include ../../components/like/like
include ../../components/rate-button/rate-button
include ../../components/range-slider/range-slider
include ../../components/button/button
include ../../components/pagination/pagination
include ../../components/checkbox-list/checkbox-list
include ../../components/checkbox-rich/checkbox-rich
include ../../components/bullet-list/bullet-list
include ../../components/info/info
include ../../components/review/review

block page-uikit
  -
    const checkboxGroupItems = require('../../components/checkbox-group/checkbox-group.json');
    const infoData = require('../../components/info/info.json');
    const reviewData = require('../../components/review/review.json');
    const list = require('../../components/bullet-list/bullet-list.json');
    const checkboxListItems = require('../../components/checkbox-list/checkbox-list.json');
    const checkboxRichItems = require('../../components/checkbox-rich/checkbox-rich.json');
    const dropdownData = require('../../components/dropdown-quantity/dropdown-quantity.json');

  article.uikit-elements

    section.uikit-elements__sector
      div.uikit-elements__sector-text-field-email
        span.uikit-elements__sector-element-caption Default
        +text-field({type: "email", value: "Email", header: "Text field"})
      div.uikit-elements__sector-text-field
        span.uikit-elements__sector-element-caption Hover / Focus
        +text-field({type: "text", value: "Имя", header: "Text field"})
      div.uikit-elements__sector-dropdown.js-uikit-elements__sector-dropdown
        +dropdown-quantity({title: "Dropdown", picker: dropdownData.guests})
      div.uikit-elements__sector-text-field-mask
        +text-field({type: "text", value: "дд.мм.гггг", mask: "99.99.9999", header: "Masked text field"})
      div.uikit-elements__sector-date-range.js-uikit-elements__sector-date-range
        +date-range({titleFirst: "Date dropdown", titleSecond: "Date dropdown"})
      div.uikit-elements__sector-date-filter.js-uikit-elements__sector-date-filter
        +date-filter({title: "Filter date dropdown"})
      div.uikit-elements__sector-subscription-title
        +heading({text: 'Subscription text field', variant: 'h3'})
      div.uikit-elements__sector-subscription
        +subscription({})

    section.uikit-elements__sector
      div.uikit-elements__sector-checkbox-group
        +checkbox-group({title: "Checkbox buttons", items: checkboxGroupItems})
      div.uikit-elements__sector-radio-title
        +heading({text: 'Radio buttons', variant: 'h3'})
      div.uikit-elements__sector-radio
        +radio({name: "registration__mw-radio", value: "m", caption: "Мужчина", isChecked: true})
        +radio({name: "registration__mw-radio", value: "w", caption: "Женщина"})
      div.uikit-elements__sector-toggle-title
        +heading({text: 'Toggle', variant: 'h3'})
      div.uikit-elements__sector-toggle-top
        +toggle({caption: "Получать спецпредложения", isChecked: true})
      div.uikit-elements__sector-toggle-bottom
        +toggle({caption: "Получать спецпредложения"})
      div.uikit-elements__sector-element-title
        +heading({text: 'Like button', variant: 'h3'})
      div.uikit-elements__sector-like
        +like({isChecked: false, likes: 2})
        +like({isChecked: true, likes: 12})
      div.uikit-elements__sector-element-title
        +heading({text: 'Rate button', variant: 'h3'})
      div.uikit-elements__sector-rate
        +rate-button({rate: 4})
        +rate-button({rate: 5})

    section.uikit-elements__sector
      div.uikit-elements__sector-slider.js-uikit-elements__sector-slider
        +range-slider({title: "Range slider"})
      div.uikit-elements__sector-element-title
        +heading({text: 'Buttons', variant: 'h3'})
      div.uikit-elements__sector-buttons-filled
        div.uikit-elements__sector-buttons-filled-left
          +button({type: "button", text: "Click me", theme: "filled", size: "thick"})
        div.uikit-elements__sector-buttons-filled-right
          +button({type: "button", text: "Click me", theme: "filled", size: "thick", isDisabled: true})
      div.uikit-elements__sector-buttons-bordered
        div.uikit-elements__sector-buttons-bordered-left
          +button({type: "button", text: "Click me", theme: "bordered", size: "thick"})
        div.uikit-elements__sector-buttons-bordered-right
          +button({type: "button", text: "Click me", theme: "bordered", size: "thick", isDisabled: true})
      div.uikit-elements__sector-buttons-texted
        div.uikit-elements__sector-buttons-texted-left
          +button({type: "button", text: "Click me", theme: "texted"})
        div.uikit-elements__sector-buttons-texted-right
          +button({type: "button", text: "Click me", theme: "texted", isDisabled: true})
      div.uikit-elements__sector-button-large
        +button({type: "button", text: "Перейти к оплате", theme: "arrowed", size: "thick"})
      div.uikit-elements__sector-element-title
        +heading({text: 'Pagination', variant: 'h3'})
      div.uikit-elements__sector-pagination
        +pagination({caption: "1 \u2013 12 из 100+ вариантов аренды"})

    section.uikit-elements__sector
      div.uikit-elements__sector-dropdown-default.js-uikit-elements__sector-dropdown-default
        span.uikit-elements__sector-element-caption Default
        +dropdown-quantity({title: "Dropdown", picker: dropdownData.room, hasActions: false})
      div.uikit-elements__sector-dropdown-expanded.js-uikit-elements__sector-dropdown-expanded
        span.uikit-elements__sector-element-caption Expanded
        +dropdown-quantity({title: "Dropdown", picker: dropdownData.room, hasActions: false})
      div.uikit-elements__sector-checkbox-list
        +checkbox-list({title: "Expandable checkbox list", isChecked: false, items: checkboxListItems})
      div.uikit-elements__sector-checkbox-list-expanded
        +checkbox-list({title: "Expandable checkbox list", isChecked: true, items: checkboxListItems})

    section.uikit-elements__sector
      div.uikit-elements__sector-dropdown-guests.js-uikit-elements__sector-dropdown-guests
        +dropdown-quantity({title: "Dropdown", picker: dropdownData.guests})
      div.uikit-elements__sector-checkbox-rich
        +checkbox-rich({title: "Rich checkbox buttons", items: checkboxRichItems})

    section.uikit-elements__sector
      div.uikit-elements__sector-dropdown-guests.js-uikit-elements__sector-dropdown-guests
        +dropdown-quantity({title: "Dropdown", picker: dropdownData.guests})
      div.uikit-elements__sector-bullet-list
        +bullet-list({title: "Bullet list", list})

    section.uikit-elements__sector
      div.uikit-elements__sector-info-top
        +info(infoData[0])
      div.uikit-elements__sector-info-bottom
        +info(infoData[1])

    section.uikit-elements__sector
      +review(reviewData[0])