extends ../../templates/template-uikit/template-uikit

include ../../components/text-field/text-field
include ../../components/dropdown-quantity/dropdown-quantity
include ../../components/date-range/date-range
include ../../components/date-filter/date-filter
include ../../components/subscription/subscription
include ../../components/checkbox-group/checkbox-group
include ../../components/radio/radio
include ../../components/toggle/toggle
include ../../components/like/like
include ../../components/rate-button/rate-button
include ../../components/range-slider/range-slider
include ../../components/button/button
include ../../components/pagination/pagination
include ../../components/checkbox-list/checkbox-list
include ../../components/checkbox-rich/checkbox-rich
include ../../components/bullet-list/bullet-list
include ../../components/info/info
include ../../components/review/review

block page-uikit
  article.uikit-elements.js-uikit-elements

    // sector-1
    section.uikit-elements__sector
      div.uikit-elements__sector-element
        span.uikit-elements__sector-element-caption Default
        +text-field({type: "email", value: "Email", header: "Text field"})
      div.uikit-elements__sector-element
        span.uikit-elements__sector-element-caption Hover / Focus
        +text-field({type: "text", value: "Имя", header: "Text field"})
      div.uikit-elements__sector-element
        +dropdown-quantity({title: "Dropdown"})
      div.uikit-elements__sector-element
        +text-field({type: "text", value: "дд.мм.гггг", mask: "99.99.9999", header: "Masked text field"})
      div.uikit-elements__sector-element
        +date-range({titleFirst: "Date dropdown", titleSecond: "Date dropdown"})
      div.uikit-elements__sector-element
        +date-filter({title: "Filter date dropdown"})
      h3.uikit-elements__sector-element-title Subscription text field
      div.uikit-elements__sector-element
        +subscription

    // sector-2
    section.uikit-elements__sector
      div.uikit-elements__sector-element
        +checkbox-group({title: "Checkbox buttons"})
      h3.uikit-elements__sector-element-title Radio buttons
      div.uikit-elements__sector-element
        +radio({name: "registration__mw-radio", value: "m", caption: "Мужчина", isChecked: true})
        +radio({name: "registration__mw-radio", value: "w", caption: "Женщина"})
      h3.uikit-elements__sector-element-title Toggle
      div.uikit-elements__sector-element
        +toggle({caption: "Получать спецпредложения", isChecked: true})
      div.uikit-elements__sector-element
        +toggle({caption: "Получать спецпредложения"})
      h3.uikit-elements__sector-element-title Like button
      div.uikit-elements__sector-element
        +like({isChecked: false, likes: 2})
        +like({isChecked: true, likes: 12})
      h3.uikit-elements__sector-element-title Rate button
      div.uikit-elements__sector-element
        +rate-button({rate: 4})
        +rate-button({rate: 5})

    // sector-3
    section.uikit-elements__sector
      div.uikit-elements__sector-element
        +range-slider({title: "Range slider"})
      h3.uikit-elements__sector-element-title Buttons
      div.uikit-elements__sector-element
        div.uikit-elements__sector-element-group
          +button({type: "button", text: "Click me", theme: "filled", size: "w99h44"})
        div.uikit-elements__sector-element-group
          +button({type: "button", text: "Click me", theme: "filled", size: "w99h44", isDisabled: true})
      div.uikit-elements__sector-element
        div.uikit-elements__sector-element-group
          +button({type: "button", text: "Click me", theme: "bordered", size: "w99h44"})
        div.uikit-elements__sector-element-group
          +button({type: "button", text: "Click me", theme: "bordered", size: "w99h44", isDisabled: true})
      div.uikit-elements__sector-element
        div.uikit-elements__sector-element-group
          +button({type: "button", text: "Click me", theme: "texted"})
        div.uikit-elements__sector-element-group
          +button({type: "button", text: "Click me", theme: "texted", isDisabled: true})
      div.uikit-elements__sector-element
        +button({type: "button", text: "Перейти к оплате", theme: "arrowed", size: "w320h44"})
      h3.uikit-elements__sector-element-title Pagination
      div.uikit-elements__sector-element
        +pagination

    // sector-4
    section.uikit-elements__sector
      div.uikit-elements__sector-element
        span.uikit-elements__sector-element-caption Default
        +dropdown-quantity({title: "Dropdown"})
      div.uikit-elements__sector-element
        span.uikit-elements__sector-element-caption Expanded
        +dropdown-quantity({title: "Dropdown"})
      div.uikit-elements__sector-element
        +checkbox-list({title: "Expandable checkbox list", isChecked: false})
      div.uikit-elements__sector-element
        +checkbox-list({title: "Expandable checkbox list", isChecked: true})

    // sector-5
    section.uikit-elements__sector
      div.uikit-elements__sector-element
        +dropdown-quantity({title: "Dropdown"})
      div.uikit-elements__sector-element
        +checkbox-rich({title: "Rich checkbox buttons"})

    // sector-6
    section.uikit-elements__sector
      div.uikit-elements__sector-element
        +dropdown-quantity({title: "Dropdown"})
      div.uikit-elements__sector-element
        +bullet-list({title: "Bullet list"})

    // sector-7
    section.uikit-elements__sector
      div.uikit-elements__sector-element
        +info
      div.uikit-elements__sector-element
        +info

    // sector-8
    section.uikit-elements__sector
      +review