.pagination-cards
  &__content
    display: flex
    justify-content: space-between
    flex-wrap: wrap

    &-title
      margin-bottom: 20px
      width: 100%

    &-card
      margin-bottom: 20px

  &__control
    display: flex
    padding-top: 20px
    padding-bottom: 7px
    padding-right: 14px
    justify-content: center