.pagination-cards
  &__content
    display: flex
    justify-content: space-between
    flex-wrap: wrap

    &-title
      margin-bottom: 21px
      width: 100%

    &-card
      margin-bottom: 21px

  &__control
    display: flex
    justify-content: center