.review
  &__author
    display: flex

    &-avatar
      position: relative
      display: flex
      justify-content: center
      align-items: center
      width: 48px
      height: 48px
      margin-right: 10px
      border-radius: 50%
      overflow: hidden

    &-img
      position: absolute
      top: -10px

    &-data
      display: flex
      flex-direction: column
      justify-content: center

    &-name
      font-weight: bold

  &__quote
    display: flex
    justify-content: space-between
    padding-top: 10px

    &-like
      display: flex
      justify-content: center
      min-width: 48px
      margin-right: 10px
      padding-top: 2px

    &-text
      margin: 0