mixin subscription(caption)
		label
			h3= caption
			form.subscription
				input(type="email" placeholder="Email").subscription__input
				button(type="submit" value="subscription").subscription__button