.page-search-room
  display: flex
  justify-content: space-between
  flex-grow: 1
  max-width: 1160px
  margin: 30px auto 0

  &__filter
    max-width: 266px

  &__pagination
    display: flex
    flex-direction: column
    justify-content: space-between
    max-width: 834px


