extends ../template-main/template-main
include ../filter/filter
include ../pagination/pagination

block page
	article.page-search-room
		section.page-search-room__filter
			+filter
		section.page-search-room__pagination
			+pagination
