.page-search-room
  display: flex
  justify-content: flex-start
  flex-grow: 1
  max-width: 1160px
  margin: 0 auto
  border: 1px solid black

  &__filter
    margin-right: 60px
  &__cards-title
    font-family: 'Open Sans', sans-serif
    font-weight: bold
    font-size: 24px
    line-height: 30px
    color: #1F2041