extends ../../templates/template-site/template-site
include ../../components/form-search-room/form-search-room

block page-site
	div.page-landing
		div.page-landing__content
			div.page-landing__search-number
				+form-search-room
			p.page-landing__caption Лучшие номера для вашей работы, отдыха и просто вдохновения