extends ../../templates/template-uikit/template-uikit

include ../../components/header/header
include ../../components/footer/footer
include ../../components/copyright/copyright

block page-uikit
  -
    const copyrightContent = require('../../components/copyright/copyright.json');
    const headerData = require('../../components/header/header.json');
    const footerData = require('../../components/footer/footer.json');

  div.uikit-headers-footers__wrapper
    article.uikit-headers-footers
      header.uikit-headers-footers__header
        +header({data: headerData})
      header.uikit-headers-footers__header
        +header({data: headerData, name: "Юлий Цезарь"})
      footer.uikit-headers-footers__footer
        +footer(footerData)
      footer.uikit-headers-footers__footer
        +copyright({content: copyrightContent})
      footer.uikit-headers-footers__footer
        +copyright({theme: "tablet", content: copyrightContent})