extends ../../templates/template-uikit/template-uikit

include ../../components/header/header
include ../../components/footer/footer
include ../../components/copyright/copyright

block page-uikit
  -
    const copyrightContent = require('../../components/copyright/copyright.json');
    const headerData = require('../../components/header/header.json');
    const footerData = require('../../components/footer/footer.json');

  article.uikit-headers-footers
    div.uikit-headers-footers__header
      +header({data: headerData})
    div.uikit-headers-footers__header-auth
      +header({data: headerData, name: "Юлий Цезарь"})
    div.uikit-headers-footers__footer
      +footer(footerData)
    div.uikit-headers-footers__copyright
      +copyright({content: copyrightContent})
    div.uikit-headers-footers__copyright-tablet
      +copyright({content: copyrightContent})