extends ../template-main/template-main
include ../diagram/diagram

block page
	article.page-room
		section.page-room__preview
		div.page-room-wrapper
			section.page-room__details
				article.page-room__info
					h2.page-room__info-title Сведения о номере
					ul.page-room__info-items
						li.page-room__info-item
							div.page-room__info-item-icon
							dl.page-room__info-item-list
								dt.page-room__info-item-term Комфорт
								dd.page-room__info-item-define Шумопоглощающие стены
						li.page-room__info-item
							div.page-room__info-item-icon
							dl.page-room__info-item-list
								dt.page-room__info-item-term Удобство
								dd.page-room__info-item-define Окно в каждой из спален
						li.page-room__info-item
							div.page-room__info-item-icon
							dl.page-room__info-item-list
								dt.page-room__info-item-term Уют
								dd.page-room__info-item-define Номер оснащен камином
				article.page-room__effect
					h2.page-room__effect-title Впечатления от номера
					div.page-room__effect-diagram
						+diagram
				article.page-room__reviews
					h2.page-room__reviews-title Отзывы посетителей номера
					bloquote.page-room__reviews-item
						cite
							div.page-room__reviews-avatar
							b Мурад Сарафанов
							p 5 дней назад
						p
						|Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.
						|И стены, действительно шумоподавляющие. Выкрикивал комплименты повару - никто
						|не жаловался из соседей.
					bloquote.page-room__reviews-item
						cite
							div.page-room__reviews-avatar
							b Патрисия Стёклышкова
							p Неделю назад
						p
						|Обслуживание на высоте! Все аккуратно, чисто. Завтраки в номер советую заказать,
						|каждый день новое блюдо и десерт как комплимент
				article.page-room__rules
					h2.page-room__rules-title Правила
					ul
						li Нельзя с питомцами
						li Без вечеринок и мероприятий
						li Время прибытия - после 13:00, а выезд до 12:00
				article.page-room__cancel
					h2.page-room__cancel-title Отмена
					p.page-room__cancel-text
					|Бесплатная отмена в течении 48 ч. После этого при отмене не позднее чем за 5 дн. до
					|прибытия вы получите полный возврат за вычетом сбора за услуги.
			section.page-room__reservation