.footer__copyright {
  background-color: white;
  padding: 23px 0;
  border-top: 1px solid rgba(31, 32, 65, 0.5);
}
.footer__copyright-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1160px;
  margin: 0 auto;
}
.footer__social-icon {
  display: inline-block;
  margin-left: 20px;
  width: 22px;
  height: 22px;
}
.footer__social-icon:nth-child(1) {
  background-image: url("footer__twitter.png");
}
.footer__social-icon:nth-child(2) {
  background-image: url("footer__facebook.png");
}
.footer__social-icon:nth-child(3) {
  background-image: url("footer__instagram.png");
}