mixin footer__copyright
    div.footer__copyright
        div.footer__copyright-content
            p Copyright &copy; 2018 Toxin отель. Все права защищены.
            div.footer__social
                a.footer__social-icon(href="#")
                a.footer__social-icon(href="#")
                a.footer__social-icon(href="#")