.button
  @include  no-select
  position: relative
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  border-radius: 22px
  border: none
  padding: 2px
  margin: 0
  background: linear-gradient(180deg, $color-purple 0%, rgba(139, 164, 249, 1) 100%)
  cursor: pointer
  outline: none

  &:focus
    box-shadow: 0 0 3px 2px $color-primary-shady

  &:hover
    opacity: .8

  &:active
    opacity: .4

  &:disabled
    background: linear-gradient(180deg, #BC9CFF77 0%, rgba(139, 164, 249, .5) 100%)
    opacity: 1

  &__caption
    @include font-primary
    font-size: 12px
    line-height: 15px
    font-weight: bold
    text-transform: uppercase
    display: flex
    justify-content: center
    align-items: center
    border-radius: 22px
    white-space: nowrap
    width: 100%
    height: 100%

  &_theme_filled
    .button__caption
      color: white

  &_theme_bordered
    .button__caption
      background: white
      color: $color-purple

  &_theme_arrowed
    .button__caption
      color: white

    &::after
      @include font-icon
      position: absolute
      content: '\e901'
      color: white
      width: 44px
      right: 0

  &_theme_texted
    background: white
    padding: 0
    .button__caption
      color: $color-purple

    &:disabled
      background: white
      .button__caption
        color: $color-primary-shady

  &_size_thin
    height: 34px

  &_size_thick
    min-width: 99px
    height: 44px
