mixin button({ type, text, theme, size, isDisabled } = {})
  -
    const themes = {
      'filled': 'theme_filled',
      'bordered': 'theme_bordered',
      'arrowed': 'theme_arrowed',
      'texted': 'theme_texted',
    };
    const sizes = {
      'w87h34': 'size_w87h34',
      'w196h34': 'size_w196h34',
      'w99h44': 'size_w99h44',
      'w320h44': 'size_w320h44',
    }
    const classes = [
      'button',
      `button_${themes[theme]}`,
      `button_${sizes[size]}`
    ]
  button(type= type class= classes disabled= isDisabled)
    span.button__caption.js-button__caption= text