.button
  $button-color-gradient: linear-gradient(180deg, $color-purple 0%, rgba(139, 164, 249, 1) 100%)
  position: relative
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  border-radius: 22px
  border: none
  padding: 2px
  margin: 0
  background: $button-color-gradient
  cursor: pointer
  outline: none

  &:focus
    box-shadow: 0 0 3px 2px $color-primary-shady

  &:hover:not(:disabled)
    opacity: .8

  &:active:not(:disabled)
    opacity: .4

  &:disabled
    background: $button-color-gradient
    opacity: 0.5

  &__caption
    @include font-primary
    font-size: 12px
    line-height: 15px
    font-weight: bold
    text-transform: uppercase
    display: flex
    justify-content: center
    align-items: center
    border-radius: 22px
    white-space: nowrap
    width: 100%
    height: 100%

  &_theme_filled
    .button__caption
      color: white

  &_theme_bordered
    .button__caption
      color: $color-purple

    .button__caption
      background: white

  &_theme_arrowed
    .button__caption
      color: white

    &::after
      @include font-icon
      position: absolute
      content: '\e901'
      color: white
      width: 44px
      right: 0

  &_theme_texted
    background: white
    .button__caption
      color: $color-purple

    &:disabled
      background: white
      color: $color-primary-shady

  &_size_small
    //min-width: 87px
    height: 34px

  &_size_large
    //min-width: 196px
    height: 34px

  &_size_middle
    min-width: 99px
    width: 100%
    height: 44px

  &_size_huge
    max-width: 320px
    width: 100%
    height: 44px
