include ../form-search-number/form-search-number

mixin main
    main.main__page-landing
        div.main__page-landing-content
            div.main__page-landing-form-registration
                +form-search-number
            p.main__page-landing-caption Лучшие номера для вашей работы,<br>отдыха и просто вдохновения