include ../button/button
include ../date-picker/date-picker

mixin date-filter
  div.date-filter
    button.date-filter__header(type="button")
      span.date-filter__header-range
      div.date-filter__header-arrow
    div.date-filter__picker
      +date-picker