include ../button/button
include ../date-picker/date-picker

mixin date-filter
	div.filter__date
		label
			h3 Даты пребывания в отеле
			div.filter__date-head
				output(name="filter__date-head-output").filter__date-head-output
				div.filter__date-head-button
					+button({type: 'button', mode: 'dropdown-guests'})
			div.filter__date-picker
				+date-picker