.date-filter
  position: relative
  background-color: white

  &:hover &__header, &:hover .date-picker
    border-color: rgba(31, 32, 65, 0.5)

  &:hover &__header-arrow
    color: rgba(31, 32, 65, 0.75)

  &__header
    font: inherit
    color: rgba(31, 32, 65, 0.75)
    display: flex
    justify-content: space-between
    align-items: center
    background-color: white
    border: 1px solid rgba(31, 32, 65, 0.25)
    outline: none
    padding: 0
    width: 100%
    box-sizing: border-box
    border-radius: 4px
    height: 44px
    cursor: pointer

    &:focus, &:focus + .date-filter__picker .date-picker
      border-color: rgba(31, 32, 65, 0.5)

    &:focus &-arrow
      color: rgba(31, 32, 65, 0.75)

    &-range
      padding-left: 14px

    &-arrow
      display: flex
      justify-content: center
      align-items: center
      width: 44px
      height: 100%
      color: rgba(31, 32, 65, 0.5)

      &::before
        font-family: "Material Icons", Icomoon, sans-serif
        content: '\e903' //'\e313'
        font-size: 24px

  &__picker
    width: 100%
    position: absolute
    z-index: 11
    top: 96%

    &_hidden
      display: none