.date-filter
  position: relative
  background-color: white

  &:hover &__head
    border-color: rgba(31, 32, 65, 0.75)

  &__head
    display: flex
    justify-content: space-between
    align-items: center
    border: 1px solid rgba(31, 32, 65, 0.25)
    box-sizing: border-box
    border-radius: 4px
    height: 44px

    &-output
      padding-left: 14px

    &-button
      outline: none
      border: none
      background: transparent
      width: 44px
      height: 100%

      &::before
        display: block
        font-family: "Material Icons", sans-serif
        content: '\e313'
        font-size: 24px
        color: rgba(31, 32, 65, 0.5)
        cursor: pointer

  &__picker
    width: 100%
    position: absolute
    z-index: 11
    top: 96%