extends ../../templates/template-uikit/template-uikit

block page-uikit
  -
    const colors = [
      { name: 'Dark Shade 100%', hex: '#1F2041' },
      { name: 'Dark Shade 75%', hex: '#1F2041' },
      { name: 'Dark Shade 50%', hex: '#1F2041' },
      { name: 'Dark Shade 25%', hex: '#1F2041' },
      { name: 'Dark Shade 5%', hex: '#1F2041' },
      { name: 'Purple', hex: '#BC9CFF' },
      { name: 'Green', hex: '#6FCF97' },
    ]
    const tags = [
      { tag: 'h1', sample: 'This one is the sub-section or widget title' },
      { tag: 'h2', sample: 'Next one is the item title inside widgets' },
      { tag: 'h3', sample: 'This is a label or cta text' },
      { tag: 'h4', sample: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.' },
    ]

  article.uikit-colors
    section.uikit-colors__colors
      each color in colors
        div.uikit-colors__colors-block
          div.uikit-colors__colors-square
          div.uikit-colors__colors-value
            - const { name, hex } = color;
            span.uikit-colors__value-name= name
            span.uikit-colors__value-hex= hex
    section.uikit-colors__font
      each example in tags
        - const { tag, sample } = example
        span.uikit-colors__font-tag= tag
        span.uikit-colors__font-sample= sample