@mixin header-first
  font-weight: bold
  margin: 0

.diagram
  &__wrapper
    display: flex
    align-items: flex-end

  &__title
    @include header-first
    font-size: 19px
    line-height: 24px
    color: #1F2041
    padding-bottom: 21px
    margin: 0

  &__circle
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: 120px
    height: 120px
    border-radius: 50%
    overflow: hidden
    margin-bottom: 2px

    &-sector
      position: absolute
      width: 59px
      height: 59px

      &:nth-child(1)
        top: 0
        left: 0
        height: 120px
        background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%)

      &:nth-child(2)
        top: 0
        right: 0
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)

      &:nth-child(3)
        bottom: 0
        right: 0
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)

    &-content
      position: absolute
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      width: 112px
      height: 112px
      border-radius: 50%
      background-color: white

      &-title:first-child
        @include header-first
        font-size: 24px
        line-height: 30px
        color: #BC9CFF

      &-title:last-child
        font-weight: bold
        font-size: 12px
        line-height: 15px
        text-transform: uppercase
        color: #BC9CFF
        padding-bottom: 6px

  &__list
    padding-left: 30px
    margin: 0

    &-item
      list-style: none

      &::before
        content: ''
        display: inline-block
        width: 10px
        height: 10px
        border-radius: 50%
        margin-right: 5px

      &:nth-of-type(1)::before
        background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%)

      &:nth-of-type(2)::before
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)

      &:nth-of-type(3)::before
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)

      &:nth-of-type(4)::before
        background: linear-gradient(180deg, #919191 0%, #3D4975 100%)