.info
  display: flex

  &__icon
    display: flex
    justify-content: center
    align-items: center
    width: 48px
    height: 48px
    margin-right: 10px

  &__item
    display: flex
    flex-direction: column
    justify-content: center
    line-height: 100%

    &-term
      font-weight: bold
      margin-bottom: 10px
      color: $color-primary-dark
