include ../checkbox/checkbox

mixin checkbox-rich({ title, items } = {})
	div.checkbox-rich
		h3.checkbox-rich__title= title
		- for (let i = 0; i < items.length; i++)
			- const { checkbox, info } = items[i];
			div.checkbox-rich__checkbox
				+checkbox(checkbox)
			p.checkbox-rich__info= info
