.checkbox-rich
  &__title
    font-weight: bold
    font-size: 12px
    line-height: 15px
    text-transform: uppercase
    color: #1F2041
    padding-bottom: 15px
    margin: 0

  &__checkbox
    font-weight: bold
    margin-top: 1px

  &__info
    font-size: 12px
    line-height: 14px
    white-space: pre-wrap
    margin: 4px 0 10px 30px
    color: rgba(31, 32, 65, 0.5)

  &__info:last-of-type
    margin-bottom: 0