include ../checkbox/checkbox

mixin checkbox-rich({ title, items } = {})
	div.checkbox-rich
		h3.checkbox-rich__title= title
		each item in items
			- const { checkbox, info } = item;
			div.checkbox-rich__checkbox
				+checkbox(checkbox)
			p.checkbox-rich__info= info