include ../heading/heading
include ../button/button

mixin dropdown-quantity({ title, picker, hasActions = true } = {})
  - const { name, items, variants } = picker;

  div.dropdown-quantity.js-dropdown-quantity
    div.dropdown-quantity__title
      +heading({text: title, variant: 'h3'})
    button.dropdown-quantity__body.js-dropdown-quantity__body(type="button" data-variants=variants)
      span.dropdown-quantity__body-caption.js-dropdown-quantity__body-caption= name
      div.dropdown-quantity__body-arrow
    div.dropdown-quantity__picker.js-dropdown-quantity__picker
      each item in items
        - const { itemName, itemVariants } = item;
        div.dropdown-quantity__picker-item
          span.dropdown-quantity__picker-item-name= itemName
          div.dropdown-quantity__picker-item-actions.js-dropdown-quantity__picker-item-actions(data-variants=itemVariants)
            input.dropdown-quantity__picker-item-actions-decrement.js-dropdown-quantity__picker-item-actions-decrement(type="button" value="-" disabled)
            span.dropdown-quantity__picker-item-actions-counter.js-dropdown-quantity__picker-item-actions-counter 0
            input.dropdown-quantity__picker-item-actions-increment(type="button" value="+")
      if (hasActions)
        div.dropdown-quantity__picker-actions.js-dropdown-quantity__picker-actions
          div.dropdown-quantity__picker-actions-clear.js-dropdown-quantity__picker-actions-clear
            +button({type: "button", theme: "texted", text: "Очистить"})
          div.dropdown-quantity__picker-actions-submit.js-dropdown-quantity__picker-actions-submit
            +button({type: "button", theme: "texted", text: "Применить"})