.button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
  border-radius: 22px;
  border: none;
}
.button__caption {
  font: inherit;
  color: #BC9CFF;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  z-index: 1;
}