mixin button(caption, width, height, mode, arrow)
    button.button(class=mode type="submit" style="width: " + width +"; height: " + height + ";")
        span.button__caption=caption
            if arrow
                div.button__arrow

