.button_arrow::before, .button_arrow::after {
  border-image-source: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-image-slice: 2;
  content: "";
  font-size: 0;
  display: block;
  position: absolute;
}
.button_arrow::before {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 12px;
  height: 0px;
}
.button_arrow::after {
  border-top: 2px solid black;
  border-right: 2px solid black;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}