.button
  position: relative
  display: flex
  justify-content: center
  align-items: center
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
  border-radius: 22px
  border: none
  width: 100%
  height: 100%
  padding: 2px
  margin: 0
  outline: none
  &:disabled
    opacity: 0.5

  &__caption
    color: white

  &_come-in
    .button__caption
      display: flex
      justify-content: center
      align-items: center
      background-color: white
      border-radius: 22px
      width: 100%
      height: 100%
      color: #BC9CFF

  &_picker
    background: white
    padding: 0
    .button__caption
      color: #BC9CFF

    &-grey
      background: white
      padding: 0
      .button__caption
        color: rgba(31, 32, 65, 0.5)

  &_forward
    &::after
      position: absolute
      font-family: "Material Icons", sans-serif
      font-size: 24px
      line-height: 24px
      content: '\e5c8'
      color: white
      width: 44px
      right: 0

