extends ../template-uikit/template-uikit

include ../text-field/text-field
include ../dropdown-quantity/dropdown-quantity
include ../date-range/date-range
include ../date-filter/date-filter
include ../subscription/subscription
include ../checkbox/checkbox
include ../radio/radio
include ../toggle/toggle
include ../like/like
include ../rate-button/rate-button
include ../range-slider/range-slider
include ../button/button
include ../pagination/pagination

block page-uikit
  article.uikit-elements
    aside.uikit-elements__sect1
      div.uikit-elements__sect1-element
        span.uikit-elements__sect1-element-caption Default
        +text-field("email", "Text field", "Email")
      div.uikit-elements__sect1-element
        span.uikit-elements__sect1-element-caption Hover / Focus
        +text-field("text", "Text field", "Имя")
      div.uikit-elements__sect1-element
        span.uikit-elements__sect1-element-caption Default
        +dropdown-quantity("Dropdown")
      div.uikit-elements__sect1-element
        span.uikit-elements__sect1-element-caption Default
        +text-field("text", "Masked text field", "дд.мм.гггг", "99.99.9999")
      div.uikit-elements__sect1-element
        +date-range("Date dropdown", "Date dropdown")
      div.uikit-elements__sect1-element
        +date-filter("Filter date dropdown")
      div.uikit-elements__sect1-element
        +subscription("Subscription text field")

    aside.uikit-elements__sect2
      div.uikit-elements__sect2-element
        h3 Checkbox buttons
        div.uikit-elements__sect2-element-checkbox
          +checkbox("smoke", "Можно курить")
        div.uikit-elements__sect2-element-checkbox
          +checkbox("pet", "Можно с питомцами", "checked")
        div.uikit-elements__sect2-element-checkbox
          +checkbox("guests", "Можно пригласить гостей (до 10 человек)", "checked")
      div.uikit-elements__sect2-element
        h3 Radio buttons
        div.uikit-elements__sect2-element-radio
          +radio({name: "registration__mw-radio", value: "m", caption: "Мужчина", checked: "true"})
        div.uikit-elements__sect2-element-radio
          +radio({name: "registration__mw-radio", value: "w", caption: "Женщина"})
      div.uikit-elements__sect2-element
        h3 Toggle
        div.uikit-elements__sect2-element-toggle
          +toggle("Получать спецпредложения", "checked")
        div.uikit-elements__sect2-element-toggle
          +toggle("Получать спецпредложения")
      div.uikit-elements__sect2-element
        h3 Like button
        div.uikit-elements__sect2-element-like
          +like
        div.uikit-elements__sect2-element-like
          +like("checked")
      div.uikit-elements__sect2-element
        h3 Rate button
        div.uikit-elements__sect2-element-rate
          +rate-button("2", "0")
        div.uikit-elements__sect2-element-rate
          +rate-button("1", "1")

    aside.uikit-elements__sect3
      div.uikit-elements__sect3-element
        h3 Range slider
        div.uikit-elements__sect3-element-range
          +range-slider
      div.uikit-elements__sect3-element
        h3 Buttons
        div.uikit-elements__sect3-element-group1
          div.uikit-elements__sect3-element-group1-button
            +button({type: "button", text: "Click me", mode: "registration"})
          div.uikit-elements__sect3-element-group1-button
            +button({type: "button", text: "Click me", mode: "registration", disabled: "true"})
        div.uikit-elements__sect3-element-group2
          div.uikit-elements__sect3-element-group2-button
            +button({type: "button", text: "Click me", mode: "come-in"})
          div.uikit-elements__sect3-element-group2-button
            +button({type: "button", text: "Click me", mode: "come-in", disabled: "true"})
        div.uikit-elements__sect3-element-group3
          div.uikit-elements__sect3-element-group3-button
            +button({type: "button", text: "Click me", mode: "picker"})
          div.uikit-elements__sect3-element-group3-button
            +button({type: "button", text: "Click me", mode: "picker-grey"})
        div.uikit-elements__sect3-element-button
          +button({type: "button", text: "Перейти к оплате", mode: "forward"})
      div.uikit-elements__sect3-element
        h3 Pagination
        div.uikit-elements__sect3-element-pagination
          +pagination

    aside.uikit-elements__sect4
      div.uikit-elements__sect4-element
        span.uikit-elements__sect4-element-caption Default
        div.uikit-elements__sect4-element-comfort
          +dropdown-quantity("Dropdown")
      div.uikit-elements__sect4-element
        span.uikit-elements__sect4-element-caption Expanded
        div.uikit-elements__sect4-element-comfort
          +dropdown-quantity("Dropdown")
      div.uikit-elements__sect4-element
        h3 Expandable checkbox list
        //+dropdown-guests("Dropdown")
      div.uikit-elements__sect4-element
        h3 Expandable checkbox list
        //+text-field("text", "Masked text field", "дд.мм.гггг", "99.99.9999")