extends ../template-uikit/template-uikit

include ../text-field/text-field
include ../dropdown-guests/dropdown-guests
include ../date-range/date-range
include ../date-filter/date-filter
include ../subscription/subscription

block page-uikit
  article.uikit-elements
    aside.uikit-elements__sect1
      label Default
        +text-field("email", "Text field", "Email")
      label Hover/Focus
        +text-field("text", "Text field", "Имя")
      label Default
        +dropdown-guests
      label Default
        +text-field("text", "Masked text field", "дд.мм.гггг", "99.99.9999")
      div
        +date-range
      div
        +date-filter
      label
        +subscription