extends ../template-uikit/template-uikit

include ../text-field/text-field
include ../dropdown-guests/dropdown-guests
include ../date-range/date-range
include ../date-filter/date-filter

block page-uikit
  article.uikit-elements
    aside.uikit-elements-sect1
      label Default
        +text-field('Text field')
      label Hover/Focus
        +text-field('Text field')
      label Default
        +dropdown-guests
      label Default
        h3 Masked text field
        input(type="email" value="дд.мм.гггг")
      div
        +date-range
      div
        +date-filter
      label
        h3 Subscription text field