.like
  @include no-select
  cursor: pointer

  &__hidden-input
    position: absolute
    opacity: 0

    &:checked + .like__visible-input
      background: linear-gradient(180deg, $color-purple 0%, #8BA4F9 100%)
      color: $color-purple

      & .like__visible-input-quantity::before
        color: #8BA4F9
        content: '\e906'

    &:focus + div
      box-shadow: 0 0 2px 1px $color-primary-shady

  &__visible-input
    background: $color-primary-light
    color: $color-primary-light
    box-sizing: border-box
    border-radius: 10px
    padding: 1px
    width: 40px
    height: 20px
    font-size: 10px
    line-height: 100%

    &:hover
      opacity: .6

    &-quantity
      display: flex
      align-items: center
      background: white
      border-radius: 10px
      width: 100%
      height: 100%

      &::before
        @include font-icon
        font-size: 10px
        content: '\e907'
        margin: 0 5px