mixin like({ likes, isChecked } = {})
	label.like.js-like
		input.like__hidden-input.js-like__hidden-input(type="checkbox" name="like" checked=isChecked)
		div.like__visible-input
			span.like__visible-input-quantity.js-like__visible-input-quantity= likes