mixin like(props)
	- let { likes, isChecked } = props
	label.like.js-like
		input.like__hidden.js-like__hidden(type="checkbox" name="like" checked=isChecked)
		div.like__visible
			span.like__visible-quantity.js-like__visible-quantity=likes