.like
  cursor: pointer

  &__hidden-input
    position: absolute
    opacity: 0

    &:checked + .like__visible-input
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
      color: #BC9CFF

      & .like__visible-quantity::before
        content: '\e906'

    &:focus + div
      box-shadow: 0 0 2px 1px rgba(31, 32, 65, 0.5)

  &__visible-input
    background: rgba(31, 32, 65, 0.25)
    color: rgba(31, 32, 65, 0.25)
    box-sizing: border-box
    border-radius: 10px
    padding: 1px
    width: 40px
    height: 20px
    font-size: 10px
    line-height: 100%

    &:hover
      opacity: .6

    &-quantity
      display: flex
      align-items: center
      background: white
      border-radius: 10px
      width: 100%
      height: 100%

      &::before
        font-family: "Material Icons", Icomoon, sans-serif
        content: '\e907'
        margin-left: 5px
        margin-right: 5px