include ../heading/heading
include ../button/button
include ../dropdown-quantity/dropdown-quantity
include ../date-range/date-range

mixin form-search-room({ title } = {})
  - const dropdownData = require('../../components/dropdown-quantity/dropdown-quantity.json');

  form.form-search-room.js-form-search-room
    fieldset.form-search-room__fieldset
      legend.form-search-room__title
        +heading({text: title, variant: 'h1'})
      div.form-search-room__date
        +date-range({firstTitle: "Прибытие", secondTitle: "Выезд"})
      div.form-search-room__guests
        +dropdown-quantity({title: "Гости", picker: dropdownData.guests})
      div.form-search-room__submit
        +button({type: "submit", text: "Подобрать номер", variant: "width-arrow", size: "thick"})
