.info
  display: flex
  align-items: center

  &__icon
    display: flex
    justify-content: center
    align-items: center
    width: 48px
    height: 48px
    margin-right: 10px

  &__item
    line-height: 100%
    margin: 0

    &-term
      display: block
      font-weight: bold
      margin-bottom: 10px
      color: rgba(31, 32, 65, 0.75)

    &-definition
      white-space: nowrap
