mixin info(items)
	ul.info
		li.info__item
			div.info__item-icon
			dl.info__item-list
				dt Комфорт
				dd Шумопоглощающие стены
		li.info__item
			div.info__item-icon
			dl.info__item-list
				dt Удобство
				dd Окно в каждой из спален
		li.info__item
			div.info__item-icon
			dl.info__item-list
				dt Уют
				dd Номер оснащен камином