mixin info(items)
	div.info
		div.info__icon
			img.info__img(alt="logo")
		dl.info__item
			dt.info__item-term-block
				output.info__item-term
			dd.info__item-definition-block
				output.info__item-definition