.range-slider
  background: white
  padding-bottom: 14px

  &__title
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 23px
    font-weight: bold
    font-size: 12px
    line-height: 15px
    text-transform: uppercase
    color: $color-primary-opaque
    margin: 0

    &-range
      font-weight: normal
      color: $color-primary-shady