.range-slider
  background: white
  padding-bottom: 14px

  &__title
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 23px

    &-range
      font-size: 12px
      line-height: 15px
      text-transform: uppercase
      color: $color-primary-shady