extends ../template-uikit/template-uikit

block page-uikit
	article.uikit-colors
		section.uikit-colors__color-wrapper
			div.uikit-colors__color
				div
					h2.uikit-colors__header-second Dark Shade 100%
					span #1F2041
			div.uikit-colors__color
				div
					h2.uikit-colors__header-second Dark Shade 75%
					span #1F2041
			div.uikit-colors__color
				div
					h2.uikit-colors__header-second Dark Shade 50%
					span #1F2041
			div.uikit-colors__color
				div
					h2.uikit-colors__header-second Dark Shade 25%
					span #1F2041
			div.uikit-colors__color
				div
					h2.uikit-colors__header-second Dark Shade 5%
					span #1F2041
			div.uikit-colors__color
				div
					h2.uikit-colors__header-second Purple
					span #BC9CFF
			div.uikit-colors__color
				div
					h2.uikit-colors__header-second Green
					span #6FCF97
		section.uikit-colors__type-wrapper
			div.uikit-colors__type
				h1.uikit-colors__header-first This one is the sub-section or widget title
			div.uikit-colors__type
				h2.uikit-colors__header-second Next one is the item title inside widgets
			div.uikit-colors__type
				h3.uikit-colors__header-third This is a label or cta text
			div.uikit-colors__type
				span This is the body text which is used for most of the design, like paragraphs, lists, etc.