.button {
  position: relative;
  background-color: #8BA4F9;
  font: inherit;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 15px;
  color: white;
  width: 100%;
  height: 44px;
  border-radius: 22px;
  background-image:  linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: none;
}
.button::before, .button::after {
  content: "";
  display: block;
  position: absolute;
}
.button::before {
  transform: rotate(45deg);
  border-top: 2px solid white;
  border-right: 2px solid white;
  width: 10px;
  height: 10px;
  top: 17px;
  right: 20px;
}
.button::after {
  border: 1px solid white;
  width: 15px;
  top: 22px;
  right: 18px;
}