.filter
  max-width: 266px
  line-height: 18px

  &__date-range
    margin-top: 5px

  &__guests-quantity
    margin-top: 5px

    &-title
      margin-top: 20px

  &__price
    margin-top: 30px

    &-slider
      margin: 23px 0 14px

    &-range
      float: right

    &-info
      font-size: 12px
      line-height: 14px
      color: rgba(31, 32, 65, 0.5)
      margin: 0

  &__permission
    margin-top: 5px
    max-width: 222px

    &-title
      margin: 30px 0 16px

    &-checkbox
      color: rgba(31, 32, 65, 0.5)
      margin-top: 10px

  &__availability
    margin-top: 5px

    &-title
      margin: 31px 0 16px


  &__comfort-room
    margin-top: 5px

    &-title
      margin-top: 30px

  &__comfort-additionally
    margin-top: 16px