include __date/__date
include __comfort/__comfort
include __checkbox/__checkbox
include __room/__room
include ../dropdown/dropdown

mixin filter
	form.filter
		div.filter__date-range
			+filter__date
		div.filter__guests-quantity
			+dropdown
		div.filter__price
			div.filter__price-header
				h3 Диапазон цены
				output.filter__price-header-range 5 000p - 10 000p
			div.filter__price-slider
			p.filter__price-info Стоимость за сутки пребывания в номере
		div.filter__permission
			h3 Checkbox Buttons
			label.filter__permission-item Можно курить
				div.filter__permission-checkbox
					+filter__checkbox({name: 'smoke'})
			label.filter__permission-item Можно с питомцами
				div.filter__permission-checkbox
					+filter__checkbox({name: 'smoke', checked: 'checked'})
			label.filter__permission-item Можно пригласить гостей (до 10 человек)
				div.filter__permission-checkbox
					+filter__checkbox({name: 'smoke', checked: 'checked'})
		div.filter__availability
			h3 Доступность
			label.filter__availability-item Широкий коридор
				div.filter__availability-checkbox
					+filter__checkbox({name: 'corridor'})
			p.filter__availability-info Ширина коридоров в номере не менее 91 см.
			label.filter__availability-item Помошник для инвалидов
				div.filter__availability-checkbox
					+filter__checkbox({name: 'assistant'})
			p.filter__availability-info На 1 этаже вас встретит специалист и проводит до номера.
		div.filter__comfort-room
			+filter__room
		div.filter__comfort-additionally
			+filter__comfort