.filter__date
  position: relative
  &-head
    display: flex
    justify-content: space-between
    align-items: center
    border: 1px solid rgba(31, 32, 65, 0.25)
    box-sizing: border-box
    border-radius: 4px
    height: 44px
    margin-top: 5px

    &-output
      padding-left: 15px
    &-button
      width: 44px

  &-picker
    position: absolute
    z-index: 1
    top: 96%