include ../../button/button
include ../__checkbox/__checkbox

mixin filter__comfort
	div.filter__comfort
		div.filter__comfort-head
			h3 Дополнительные удобства
			label.filter__comfort-head-button
				input(type="checkbox").filter__comfort-head-button-true
				div.filter__comfort-head-button-false
		div.filter__comfort-picker
			label.filter__comfort-picker-item Завтрак
				div.filter__comfort-picker-item-checkbox
					+filter__checkbox({name: 'breakfast'})
			label.filter__comfort-picker-item Письменный стол
				div.filter__comfort-picker-item-checkbox
					+filter__checkbox({name: 'table', checked: 'checked'})
			label.filter__comfort-picker-item Стул для кормления
				div.filter__comfort-picker-item-checkbox
					+filter__checkbox({name: 'chair', checked: 'checked'})
			label.filter__comfort-picker-item Кроватка
				div.filter__comfort-picker-item-checkbox
					+filter__checkbox({name: 'bed', checked: 'checked'})
			label.filter__comfort-picker-item Телевизор
				div.filter__comfort-picker-item-checkbox
					+filter__checkbox({name: 'tv'})
			label.filter__comfort-picker-item Шампунь
				div.filter__comfort-picker-item-checkbox
					+filter__checkbox({name: 'shampoo'})
