.checkbox-list
  position: relative
  background: white

  &__check
    position: absolute
    opacity: 0
    z-index: -1

  &__check:checked + &__body-title > &__body-arrow:before
      content: '\e902'

  &__check:checked ~ &__picker
    display: block

  &__body
    width: 100%
    cursor: pointer

    &-title
      display: flex
      justify-content: space-between
      align-items: center
      height: 44px

    &-arrow
      display: flex
      justify-content: center
      align-items: center
      background: transparent
      width: 44px
      height: 100%

      &::before
        @include font-icon
        content: '\e903'
        color: $color-primary-shady

    &:hover &-title, &:hover &-arrow
      text-shadow: 0 0 5px $color-primary-shady

  &__picker
    display: none
    position: relative
    bottom: 0
    padding-top: 3px
    color: $color-primary-shady

    &-item:not(:last-of-type)
      margin-bottom: 10px