include ../checkbox/checkbox

mixin checkbox-list({ title, isChecked } = {})
  - const id = Math.random()
  div.checkbox-list.js-checkbox-list
    input.checkbox-list__check(type="checkbox" id= id checked= isChecked)
    label.checkbox-list__body(for= id)
      h3.checkbox-list__body-title.js-checkbox-list__body-title= title
      div.checkbox-list__body-arrow
    div.checkbox-list__picker
      - for (let i = 0; i < 6; i++)
        div.checkbox-list__picker-item
          +checkbox
