include ../checkbox/checkbox

mixin checkbox-list(props)
	- let id = Math.random();
	- let { name, checked } = props
	div.checkbox-list
		input.checkbox-list__check(type="checkbox" id=id checked=checked)
		label.checkbox-list__body(for=id)
			h3.checkbox-list__body-title=name
			div.checkbox-list__body-arrow
		div.checkbox-list__picker
			div.checkbox-list__picker-item
				+checkbox({name: "breakfast", caption: "Завтрак", checked: false})
			div.checkbox-list__picker-item
				+checkbox({name: "table", caption: "Письменный стол", checked: true})
			div.checkbox-list__picker-item
				+checkbox({name: "chair", caption: "Стул для кормления", checked: true})
			div.checkbox-list__picker-item
				+checkbox({name: "bed", caption: "Кроватка", checked: true})
			div.checkbox-list__picker-item
				+checkbox({name: "tv", caption: "Телевизор", checked: false})
			div.checkbox-list__picker-item
				+checkbox({name: "shampoo", caption: "Шампунь", checked: false})
