include ../heading/heading
include ../checkbox/checkbox

mixin checkbox-list({ title, isChecked, items } = {})
  div.checkbox-list
    label.checkbox-list__body
      input.checkbox-list__check(type="checkbox" checked=isChecked)
      div.checkbox-list__body-title
        +heading({text: title, variant: 'third'})
        div.checkbox-list__body-arrow
      div.checkbox-list__picker
        each item in items
          div.checkbox-list__picker-item
            +checkbox(item)
