include ../checkbox/checkbox

mixin checkbox-list(props = {})
	-
		const id = Math.random();
		const { name, isChecked } = props
	div.checkbox-list
		input.checkbox-list__check(type="checkbox" id=id checked=isChecked)
		label.checkbox-list__body(for=id)
			h3.checkbox-list__body-title=name
			div.checkbox-list__body-arrow
		div.checkbox-list__picker
			div.checkbox-list__picker-item
				+checkbox({name: "breakfast", caption: "Завтрак", isChecked: false})
			div.checkbox-list__picker-item
				+checkbox({name: "table", caption: "Письменный стол", isChecked: true})
			div.checkbox-list__picker-item
				+checkbox({name: "chair", caption: "Стул для кормления", isChecked: true})
			div.checkbox-list__picker-item
				+checkbox({name: "bed", caption: "Кроватка", isChecked: true})
			div.checkbox-list__picker-item
				+checkbox({name: "tv", caption: "Телевизор", isChecked: false})
			div.checkbox-list__picker-item
				+checkbox({name: "shampoo", caption: "Шампунь", isChecked: false})
