doctype html
html(lang="ru" dir="ltr")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="initial-scale=1.0, width=device-width")
		link(rel="icon" type="resources/ico" href="img/favicon.ico")
		link(rel="icon" type="resources/png" sizes="16x16" href="img/favicon-16x16.png")
		link(rel="icon" type="resources/png" sizes="32x32" href="img/favicon-32x32.png")
		linc(rel="mask-icon" href="img/favicon-32x32.png" color="green")
	title TOXIN
	block page

