@mixin center-fix
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 1160px
  margin: 0 auto

html
  font-family: 'Montserrat', sans-serif
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 17px
  color: rgba(31, 32, 65, 0.5)
  height: 100%

  h1, h2
    font-family: 'Open Sans', sans-serif
    font-style: normal
    font-weight: bold
    color: #1F2041

  h1
    font-size: 24px
    line-height: 30px

  h2
    font-size: 19px
    line-height: 24px

  H3
    font-family: Montserrat, sans-serif
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 15px
    text-transform: uppercase
    color: #1F2041

  body
    font-family: Montserrat, sans-serif
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 24px
    color: rgba(31, 32, 65, 0.75)

  .body
    max-width: 1440px
    display: flex
    flex-direction: column
    height: 100%
    margin: 0 auto
    background: #E5E5E5

    .header
      background-color: white
      box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05)

      &__header-main
        @include center-fix
        padding: 15px 0

    .main
      display: flex
      flex-grow: 1
      background-color: white
      flex-wrap: wrap

    .footer
      background-color: white

      &__footer-menu
        @include center-fix
        box-shadow: 0 1px 0 rgba(31, 32, 65, 0.1)
        min-height: 372px

      &__separator
        border-top: 1px solid #D5D5D5

      &__footer-copyright
        @include center-fix
        box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05)
        min-height: 70px
        padding-right: 2px