extends ../../templates/template-site/template-site

include ../../components/info/info
include ../../components/diagram/diagram
include ../../components/review/review
include ../../components/bullet-list/bullet-list
include ../../components/form-reservation/form-reservation

block page-site
  -
    const infoData = require('../../components/info/info.json');
    const reviewData = require('../../components/review/review.json');
    const diagramData = require('../../components/diagram/diagram.json');
    const list = require('../../components/bullet-list/bullet-list.json');
    const formData = require('../../components/form-reservation/form-reservation.json');

  article.site-details
    section.site-details__preview
    section.site-details__details
      aside.site-details__details-info
        div.site-details__details-info-title
          +heading({text: 'Сведения о номере', variant: 'h2'})
        each infoItem in infoData
          div.site-details__details-info-item
            +info(infoItem)
      aside.site-details__details-effect
        +diagram(diagramData)
      aside.site-details__details-reviews
        div.site-details__details-reviews-header
          div.site-details__details-reviews-header-title
            +heading({text: 'Отзывы посетителей номера', variant: 'h2'})
          span.site-details__details-reviews-header-quantity 2 отзыва
        each reviewItem in reviewData
          div.site-details__details-reviews-item
            +review(reviewItem)
      aside.site-details__details-rules
        div.site-details__details-rules-title
          +heading({text: 'Правила', variant: 'h2'})
        +bullet-list({list})
      aside.site-details__details-cancel
        div.site-details__details-cancel-title
          +heading({text: 'Отмена', variant: 'h2'})
        p.site-details__details-cancel-note
        | Бесплатная отмена в течении 48 ч. После этого при отмене не позднее чем за 5 дн. до
        | прибытия вы получите полный возврат за вычетом сбора за услуги.
      aside.site-details__details-reservation
        +form-reservation(formData)