.page-room
  border-bottom: 1px solid $color-primary-light

  &__preview
    background-image: url('img/room-details-img3.jpg'), url('img/room-details-img2.jpg'), url('img/room-details-img1.jpg')
    background-repeat: no-repeat
    background-position: bottom right, top right, bottom left
    height: 485px

  &__details
    max-width: 1160px
    margin: 70px auto
    display: grid
    grid-template-columns: 1fr
    @media (min-width: 576px)
      grid-template-columns: minmax(260px, 292px) 1fr minmax(311px, 350px)
    @media (min-width: 992px)
      grid-template-columns: minmax(260px, 292px) 1fr minmax(311px, 350px) 1fr minmax(auto, 380px)

    &-info
      grid-area: 1 / 1 / 2 / 2

      &-title
        margin-bottom: 20px

      &-item
        &:not(:last-child)::after
          content: ''
          display: block
          max-width: 280px
          height: 1px
          background-color: $color-primary-light
          margin: 20px 0

    &-effect
      grid-area: 2 / 1 / 3 / 2
      @media (min-width: 576px)
        grid-area: 1 / 3 / 2 / 4

      &-diagram
        margin-top: 20px

    &-reviews
      padding-bottom: 33px
      grid-area: 3 / 1 / 4 / 2
      @media (min-width: 576px)
        grid-area: 2 / 1 / 3 / 4

      &-header
        display: flex
        justify-content: space-between
        align-items: baseline
        margin-top: 33px

        &-title
          padding-bottom: 20px

      &-header &-quantity
        color: $color-primary-shady

      &-item:nth-of-type(2)
        padding-bottom: 23px

    &-rules
      padding-bottom: 2px
      grid-area: 4 / 1 / 5 / 2
      @media (min-width: 576px)
        grid-area: 3 / 1 / 4 / 2

      &-title
        padding: 0 0 17px 21px

    &-cancel
      padding-right: 10px
      grid-area: 5 / 1 / 6 / 2
      @media (min-width: 576px)
        grid-area: 3 / 3 / 4 / 4

      &-note
        margin: 18px 0 0

    &-reservation
      grid-area: 6 / 1 / 7 / 2
      @media (min-width: 576px)
        grid-area: 4 / 1 / 5 / 4
        justify-self: center
        min-width: 380px
      @media (min-width: 992px)
        grid-area: 1 / 5 / 4 / 6
        justify-self: stretch