extends ../../templates/template-site/template-site

include ../../components/info/info
include ../../components/diagram/diagram
include ../../components/review/review
include ../../components/bullet-list/bullet-list
include ../../components/form-reservation/form-reservation

block page-site
  -
    const infoData = require('../../components/info/info.json');
    const reviewData = require('../../components/review/review.json');
    const diagramData = require('../../components/diagram/diagram.json');
    const list = require('../../components/bullet-list/bullet-list.json');
    const formData = require('../../components/form-reservation/form-reservation.json');

  article.page-room
    section.page-room__preview
    section.page-room__details
      aside.page-room__details-info
        div.page-room__details-info-title
          +heading({text: 'Сведения о номере', variant: 'h2'})
        div.page-room__details-info-item
          +info(infoData[0])
        div.page-room__details-info-item
          +info(infoData[1])
        div.page-room__details-info-item
          +info(infoData[2])
      aside.page-room__details-effect
        +diagram(diagramData)
      aside.page-room__details-reviews
        div.page-room__details-reviews-header
          div.page-room__details-reviews-header-title
            +heading({text: 'Отзывы посетителей номера', variant: 'h2'})
          span.page-room__details-reviews-header-quantity 2 отзыва
        div.page-room__details-reviews-item
          +review(reviewData[0])
        div.page-room__details-reviews-item
          +review(reviewData[1])
      aside.page-room__details-rules
        div.page-room__details-rules-title
          +heading({text: 'Правила', variant: 'h2'})
        +bullet-list({list})
      aside.page-room__details-cancel
        div.page-room__details-cancel-title
          +heading({text: 'Отмена', variant: 'h2'})
        p.page-room__details-cancel-note
        | Бесплатная отмена в течении 48 ч. После этого при отмене не позднее чем за 5 дн. до
        | прибытия вы получите полный возврат за вычетом сбора за услуги.
      aside.page-room__details-reservation
        +form-reservation(formData)