extends ../../templates/template-site/template-site

include ../../components/info/info
include ../../components/diagram/diagram
include ../../components/review/review
include ../../components/bullet-list/bullet-list
include ../../components/form-reservation/form-reservation

block page-site
	-
		const list = [
			'Нельзя с питомцами',
			'Без вечеринок и мероприятий',
			'Время прибытия \u2014 после 13:00,\nа выезд до 12:00',
		]

	article.page-room.js-page-room
		section.page-room__preview
		section.page-room__details
			aside.page-room__details-info
				h2.page-room__details-info-title Сведения о номере
				div.page-room__details-info-item.js-page-room__details-info-item
					+info({})
				div.page-room__details-info-item.js-page-room__details-info-item
					+info({})
				div.page-room__details-info-item.js-page-room__details-info-item
					+info({})
			aside.page-room__details-effect
				+diagram
			aside.page-room__details-reviews
				div.page-room__details-reviews-header
					h2.page-room__details-reviews-header-title Отзывы посетителей номера
					span.page-room__details-reviews-header-quantity 2 отзыва
				div.page-room__details-reviews-item.js-page-room__details-reviews-item
					+review({})
				div.page-room__details-reviews-item.js-page-room__details-reviews-item
					+review({})
			aside.page-room__details-rules
				+bullet-list({title: "Правила", list})
			aside.page-room__details-cancel
				h2.page-room__details-cancel-title Отмена
				p.page-room__details-cancel-note
				|Бесплатная отмена в течении 48 ч. После этого при отмене не позднее чем за 5 дн. до
				|прибытия вы получите полный возврат за вычетом сбора за услуги.
			aside.page-room__details-reservation
				+form-reservation({})