include ../button/button

mixin date-picker
	div.date-picker
		div.date-picker__header
			button(type="button").date-picker__header-list-left
			h2
				output.date-picker__header-title
			button(type="button").date-picker__header-list-right
		table.date-picker__table
			thead
				tr
					-for (let i = 0; i < 7; i++)
						th.date-picker__table-header
			tbody
				-for (let i = 1; i < 6; i++)
					tr
						-for (let j = 1; j < 8; j++)
							td(tabindex="0").date-picker__table-date
		div.date-picker__footer
			div.date-picker__footer-clear
				+button({type: 'button', mode: 'picker-grey', text: 'Очистить'})
			div.date-picker__footer-submit
				+button({type: 'button', mode: 'picker', text: 'Применить'})