include ../button/button

mixin date-picker
	div.date-picker
		div.date-picker__header
			button.date-picker__header-list-left(type="button")
			h2.date-picker__header-title
			button.date-picker__header-list-right(type="button")
		div.date-picker__body
			- const weekDay = ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс'];
			-for (let i = 0; i < 7; i++)
				span.date-picker__body-week !{weekDay[i]}
			-for (let i = 0; i < 35; i++)
				div.date-picker__body-range
					input.date-picker__body-date(type="button")
		div.date-picker__footer
			div.date-picker__footer-clear
				+button({type: "button", mode: "picker", text: "Очистить"})
			div.date-picker__footer-submit
				+button({type: "button", mode: "picker", text: "Применить"})