include ../button/button
include ../quantity-select/quantity-select
include ../date-range/date-range

mixin form-search-number
  div.form-search-number
    form.form-search-number__form
      h2.form-search-number__title Найдём номер под ваши пожелания
      +date-range({height: '44px'})
      div.form-search-number__quantity-select
        +quantity-select({height: '44px'})
      div.form-search-number__submit
        +button({type: 'submit', mode: 'width-arrow', text: 'Подобрать номер'})


