include ../button/button
include ../quantity-select/quantity-select
include ../date-range/date-range

mixin form-search-number
  form.form-search-number
    h2.form-search-number__title Найдём номер под ваши пожелания
    div.form-search-number__submit
      +button({type: 'button', mode: 'width-arrow', text: 'Перейти к оплате'})

