.form-search-number {
  background-color: white;
  max-width: 320px;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.form-search-number__title {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
}
.form-search-number_display-block {
  display: block;
}
.form-search-number__date-in {
  float: left;
}
.form-search-number__date-out {
  float: right;
}