include ../date-filter/date-filter
include ../dropdown-quantity/dropdown-quantity
include ../range-slider/range-slider
include ../checkbox-group/checkbox-group
include ../checkbox-rich/checkbox-rich
include ../checkbox-list/checkbox-list

mixin filter(props = {})
  div.filter.js-filter
    div.filter__date
      +date-filter({title: "Даты пребывания в отеле"})
    div.filter__guests.js-filter__guests
      +dropdown-quantity({title: "Гости"})
    div.filter__price
      +range-slider({title: "Диапазон цены", caption: "Стоимость за сутки пребывания в номере"})
    div.filter__rules
      +checkbox-group({title: "Правила дома"})
    div.filter__availability
      +checkbox-rich({title: "Доступность"})
    div.filter__comfort.js-filter__comfort
      +dropdown-quantity({title: "Удобства номера"})
    div.filter__comfort-other
      +checkbox-list({title: "Дополнительные удобства"})