include ../date-filter/date-filter
include ../dropdown-quantity/dropdown-quantity
include ../range-slider/range-slider
include ../checkbox-group/checkbox-group
include ../checkbox-rich/checkbox-rich
include ../checkbox-list/checkbox-list

mixin filter(titles = {})
  -
    const {
      dateTitle,
      guestsTitle,
      priceTitle,
      priceCaption,
      rulesTitle,
      availabilityTitle,
      comfortTitle,
      otherTitle
    } = titles;
    const checkboxGroupItems = require('../../components/checkbox-group/checkbox-group.json');
    const checkboxListItems = require('../../components/checkbox-list/checkbox-list.json');
    const checkboxRichItems = require('../../components/checkbox-rich/checkbox-rich.json');

  div.filter.js-filter
    div.filter__date
      +date-filter({title: dateTitle})
    div.filter__guests.js-filter__guests
      +dropdown-quantity({title: guestsTitle})
    div.filter__price
      +range-slider({title: priceTitle})
      p.filter__price-caption= priceCaption
    div.filter__rules
      +checkbox-group({title: rulesTitle, items: checkboxGroupItems})
    div.filter__availability
      +checkbox-rich({title: availabilityTitle, items: checkboxRichItems})
    div.filter__comfort.js-filter__comfort
      +dropdown-quantity({title: comfortTitle})
    div.filter__comfort-other
      +checkbox-list({title: otherTitle, items: checkboxListItems})