.filter
  &__date
    padding-bottom: 20px

  &__guests
    padding-bottom: 30px

  &__price
    padding-bottom: 30px

    &-info
      font-size: 12px
      line-height: 14px
      color: rgba(31, 32, 65, 0.5)
      margin: 0

  &__rules
    padding-bottom: 32px

  &__availability
    padding-bottom: 30px

  &__comfort
    padding-bottom: 16px