include ../date-filter/date-filter
include ../dropdown-quantity/dropdown-quantity
include ../range-slider/range-slider
include ../checkbox-group/checkbox-group
include ../checkbox-rich/checkbox-rich
include ../checkbox-list/checkbox-list

mixin filter
  div.filter.js-filter
    div.filter__date
      +date-filter({header: "Даты пребывания в отеле"})
    div.filter__guests
      +dropdown-quantity({header: "Гости"})
    div.filter__price
      +range-slider({header: "Диапазон цены"})
      p.filter__price-info Стоимость за сутки пребывания в номере
    div.filter__rules
      +checkbox-group({header: "Правила дома"})
    div.filter__availability
      +checkbox-rich({header: "Доступность"})
    div.filter__comfort
      +dropdown-quantity({header: "Удобства номера"})
    div.filter__comfort-other
      +checkbox-list({name: "Дополнительные удобства", checked: false})