.filter
  &__date
    padding-bottom: 20px

  &__guests
    padding-bottom: 30px

  &__price
    padding-bottom: 30px

    &-caption
      font-size: 12px
      line-height: 14px
      color: $color-primary-shady
      margin: 0

  &__rules
    padding-bottom: 28px

  &__availability
    padding-bottom: 30px

  &__comfort
    padding-bottom: 16px