include ../date-filter/date-filter
include ../dropdown-quantity/dropdown-quantity
include ../range-slider/range-slider
include ../checkbox-group/checkbox-group
include ../checkbox-rich/checkbox-rich
include ../checkbox-list/checkbox-list

mixin filter
  div.filter.js-filter
    div.filter__date
      +date-filter
    div.filter__guests
      +dropdown-quantity
    div.filter__price
      +range-slider
    div.filter__rules
      +checkbox-group
    div.filter__availability
      +checkbox-rich
    div.filter__comfort
      +dropdown-quantity
    div.filter__comfort-other
      +checkbox-list