.header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
}
.header__logo {
  border: 1px solid black;
}
.header__main-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  border: 1px solid black;
}
.header__main-menu li {
  display: inline-block;
  word-wrap: -0.36em;
  list-style: none;
  border: 1px solid red;
}
.header__main-menu a {
  color: rgba(31, 32, 65, 0.5);
  text-decoration: none;
}
.header__submenu {
  display: inline-block;
  border: 1px solid black;
}
.header__submenu li{
  display: none;
}
.button {
  margin-left: 20px;
}