.header {
  padding: 15px 0;
  background-color: white;
}
.header__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1160px;
  margin: 0 auto;
}
.header__main-menu {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap-reverse;
  font-size: 0;
}
.header__main-menu-items {
  padding: 0;
  margin-right: 22px;
}
.header__main-menu-item {
  font-size: 14px;
  display: inline-block;
  list-style: none;
}
.header__main-menu_item-margin {
  margin-left: 20px;
}
.header__main-menu-ref {
  color: rgba(31, 32, 65, 0.5);
  text-decoration: none;
}
.header__submenu-dropdown {
  position: absolute;
  width: 24px;
  height: 21px;
}
.header__submenu-dropdown::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  margin: auto;
  border-right: 2px solid rgba(31, 32, 65, 0.5);
  border-bottom: 2px solid rgba(31, 32, 65, 0.5);
  transform: rotate(45deg);

}
.header__submenu-dropdown-items {
  display: none;
  padding: 0;
  position: absolute;
  margin-top: 8px;
}
.header__submenu-dropdown:hover .header__submenu-dropdown-items{
  display: block;
  background-color: white;
  z-index: 999;
  border: 1px solid rgba(31, 32, 65, 0.5);
}
.header__submenu-dropdown-item {
  display: block;
  white-space: nowrap;
  padding: 5px 15px;
}
.header__main-menu_dropdown-margin {
  margin-left: 44px;
}
.header__main-menu_button-margin-left {
  margin-left: 20px;
}