.header-main
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  max-width: 1160px
  width: 100%
  margin: 0 auto

  &__menu
    display: flex
    justify-content: flex-end
    align-items: baseline
    flex-wrap: wrap
    flex-grow: 1

    &-items
      display: flex
      flex-wrap: wrap
      line-height: 17px
      padding: 0
      margin: 0

    &-item
      list-style: none
      margin-left: 20px

    &-item:nth-of-type(1)
      font-weight: bold

    &-item:nth-of-type(2)
      position: relative
      display: flex

    &-item:nth-of-type(5)
      position: relative
      display: flex

    &-ref
      color: rgba(31, 32, 65, 0.5)
      text-decoration: none

  &__submenu
    border: none
    outline: none
    background: transparent
    padding: 0
    width: 24px
    height: 21px

    &:active + &-items
      display: block

    &::before
      font-family: "Material Icons", sans-serif
      content: '\e313'
      font-size: 24px
      line-height: 20px
      color: rgba(31, 32, 65, 0.5)

    &-items
      display: none
      position: absolute
      list-style: none
      padding: 0
      top: 100%
      right: 0
      background-color: white
      border: 1px solid rgba(31, 32, 65, 0.5)
      z-index: 1

    &-item
      white-space: nowrap
      padding: 5px 15px

  &__button-come-in
    width: 87px
    height: 34px
    margin-left: 20px

  &__button-registration
    width: 196px
    height: 34px
    margin-left: 20px