include ../button/button

mixin header
    div.header
        img.header__logo(src="img/desktop.blocks__logo.svg")
        nav.header__main-menu
            ul.header__main-menu-items
                li.header__main-menu-item
                    a.header__main-menu-ref(href="http://undefined.html") О нас
                li.header__main-menu-item
                    a.header__main-menu-ref(href="http://undefined.html") Услуги
                li.header__main-menu-item.header__submenu
                    ul.header__submenu-items
                        li.header__submenu-item
                            a.header__main-menu-ref(href="http://undefined.html") Услуга 1
                        li.header__submenu-item
                            a.header__main-menu-ref(href="http://undefined.html") Услуга 2
                li.header__main-menu-item
                    a.header__main-menu-ref(href="http://undefined.html") Вакансии
                li.header__main-menu-item
                    a.header__main-menu-ref(href="http://undefined.html") Новости
                li.header__main-menu-item
                    a.header__main-menu-ref(href="http://undefined.html") Соглашения
                li.header__main-menu-item.header__submenu
                    ul.header__submenu-items
                        li.header__submenu-item
                            a.header__main-menu-ref(href="http://undefined.html") Соглашение 1
                        li.header__submenu-item
                            a.header__main-menu-ref(href="http://undefined.html") Соглашение 2
        div.header__button-come-in
            +button({type: 'button', mode: 'come-in', text: 'Войти'})
        div.header__button-registration
            +button({type: 'button', mode: 'registration', text: 'Зарегистрироваться'})