@font-face
  font-family: 'Montserrat'
  font-style: normal
  font-weight: normal
  src: url('./fonts/montserrat-v14-cyrillic-700.woff') format('woff') /* Modern Browsers */
  src: url('./fonts/montserrat-v14-cyrillic-700.ttf') format('truetype') /* Safari, Android, iOS */
  src: url('./fonts/montserrat-v14-cyrillic-700.svg#Montserrat') format('svg') /* Legacy iOS */
html
  font-family: Montserrat, sans-serif
  font-style: normal
  font-weight: normal
  letter-spacing: 1px
  font-size: 14px
  line-height: 17px
  color: rgba(31, 32, 65, 0.5)
  height: 100%
  body
    max-width: 1440px
    display: flex
    flex-direction: column
    height: 100%
    margin: 0 auto
    background: #E5E5E5
    header
      display: flex
      justify-content: center
      padding: 15px 0
      background-color: white
    main
      display: flex
      justify-content: space-between
      flex-grow: 1
      background: url('page-landing.png') no-repeat bottom right
    .footer
      background-color: white
      &__footer-menu
        max-width: 1160px
        margin: 0 auto
        padding: 100px 0
      &__separator
        border-top: 1px solid #E5E5E5
      &__footer-copyright
        max-width: 1160px
        margin: 0 auto