include page-landing/page-landing
doctype html
html(lang="ru" dir="ltr")
    head
        meta(charset="utf-8")
        link(rel="shortcut icon" type="image/x-icon" href=`img/desktop.blocks__favicon.ico`)
        title TOXIN
    +body.page-landing