.form-search-room

  &__fieldset
    display: flex
    flex-direction: column
    max-width: 320px
    margin: 30px auto

  &__date
    display: flex
    justify-content: space-between
    &-dropdown
      height: 44px

  &__guests
    &-dropdown
      height: 44px

  &__submit
    height: 44px