include ../button/button
include ../dropdown-quantity/dropdown-quantity
include ../date-range/date-range

mixin form-search-room
  form.form-search-room
    fieldset.form-search-room__fieldset
      legend.form-search-room-legend
        h1.form-search-room-header Найдём номера под ваши пожелания
      div.form-search-room__date
        div.form-search-room__date-title
          h3.form-search-room__date-title-in Прибытие
          h3.form-search-room__date-title-out Выезд
        +date-range
      div.form-search-room__guests
        h3.form-search-room__guests-title гости
        +dropdown-quantity
      div.form-search-room__submit
        +button({type: "button", text: "Подобрать номер", mode: "forward"})


