include ../button/button
include ../dropdown-quantity/dropdown-quantity
include ../date-range/date-range

mixin form-search-room
    form.form-search-room
      fieldset.form-search-room__fieldset
        legend
          h1 Найдём номера под ваши пожелания
        div.form-search-room__date
          +date-range({in: "", out: ""})
        div.form-search-room__guests
          +dropdown-quantity
        div.form-search-room__submit
          +button({type: 'submit', mode: 'width-arrow', text: 'Подобрать номер'})


