.heading
  display: flex
  justify-content: space-between
  align-items: flex-end
  margin: 0

  &-tagh1, &-tagh2, &-tagh3, &__info-number, &__info-level
    color: $color-primary-opaque
    margin: 0

  &-tagh1, &__info-number
    font-size: 24px
    line-height: 30px

  &-tagh2
    font-size: 19px
    line-height: 24px

  &-tagh3, &__info-level, &__info:first-letter
    font-size: 12px
    font-weight: bold
    line-height: 15px
    text-transform: uppercase

  &__info-level
    color: $color-purple

  &__price
    color: $color-primary-shady

    &-amount
      font-size: 14px
      font-weight: bold
      line-height: 24px

    &-text
      font-size: 12px
      font-weight: normal
      line-height: 15px