.heading
  line-height: 100%
  margin: 0

  &-tagh1, &-tagh2, &-tagh3, &__numeric, &__numeric-large
    color: $color-primary-opaque
    margin: 0

  &-tagh1, &__numeric-large
    font-size: 24px
    line-height: 30px

  &-tagh2, &__numeric
    font-size: 19px
    line-height: 24px

  &-tagh3, &__level
    font-size: 12px
    line-height: 15px
    text-transform: uppercase

  &__numeric, &__numeric-large
    display: inline-block

    &:first-letter
      font-size: 14px

  &__level
    padding-left: 8px
    margin: 0
    color: $color-purple
