mixin heading({ text, variant } = {})
  -
    let tag = 'h3';
    const variants = ['h1', 'h2', 'h3', 'numeric'];
    if (variant === 'numeric') {
      tag = 'h2';
    } else if (variants.indexOf(variant) !== -1) {
      tag = variant;
    }

  #{tag}.heading
    if (variant === 'numeric')
      - const { number, level } = text;
      div.heading__info
        span.heading__info-number= number
        span.heading__info-level= level
    else
      span(class=`heading-tag${tag}`)= text