extends ../../templates/template-site/template-site
include ../../components/form-login/form-login

block page-site
  article.page-sign-in
    section.page-sign-in__form
      +form-login({title: "Войти", caption: "Нет аккаунта на Toxin?"})