extends ../../templates/template-site/template-site
include ../../components/form-login/form-login

block page-site
  article.site-sign
    section.site-sign__form
      +form-login({title: "Войти", caption: "Нет аккаунта на Toxin?"})