mixin quantity-select
    label.block(for="guests") Гости
    select.custom-select
        div.custom-select__group-button
            option +
            option -
            option +
            option -
            option +
            option -
            option.quantity-continue Применить
            option.quantity-clear Очитить