extends ../../templates/template-main/template-main
include ../../components/heading/heading

block page
  -
    const pages = {
      uikit: [
        { href: 'colors.html', text: 'Colors & Type' },
        { href: 'elements.html', text: 'Elements' },
        { href: 'forms.html', text: 'Forms' },
        { href: 'headers.html', text: 'Headers & Footers' },
      ],
      site: [
        { href: 'landing.html', text: 'Landing Page' },
        { href: 'search.html', text: 'Search Room' },
        { href: 'details.html', text: 'Room Details' },
        { href: 'registration.html', text: 'Registration' },
        { href: 'sign.html', text: 'Sign In' },
      ],
    }

  body.page-index
    div.page-index__header
      +heading({text: 'TOXIN', variant: 'h1'})
    nav.page-index__nav
      - for (key in pages)
        div.page-index__header
          +heading({text: `${key} pages`, variant: 'h2'})
        ul.page-index__nav-items
          each item in pages[key]
            - const { href, text } = item;
            li.page-index__nav-item
              a.page-index__nav-item-link(href=href)= text