extends ../../templates/template-main/template-main

block page
	body.index
		h1.index__header TOXIN
		nav.index__nav
			h2.index__header-uikit UI kit
			ul.index__nav-items
				li.index__nav-item
					a.index__nav-item-link(href="colors.html") Colors & Type
				li.index__nav-item
					a.index__nav-item-link(href="elements.html") Elements
				li.index__nav-item
					a.index__nav-item-link(href="forms.html") Forms
				li.index__nav-item
					a.index__nav-item-link(href="headers.html") Headers & Footers

			h2.index__header-site Website pages
			ul.index__nav-items
				li.index__nav-item
					a.index__nav-item-link(href="landing.html") Landing Page
				li.index__nav-item
					a.index__nav-item-link(href="search.html") Search Room
				li.index__nav-item
					a.index__nav-item-link(href="details.html") Room Details
				li.index__nav-item
					a.index__nav-item-link(href="registration.html") Registration
				li.index__nav-item
					a.index__nav-item-link(href="sign.html") Sign In