extends ../../templates/template-site/template-site
include ../../components/form-registration/form-registration

block page-site
	article.page-registration
		section.page-registration__form
			+form-registration