.form-reserve
  @mixin info
    display: flex
    justify-content: center
    align-items: center
    width: 20px
    height: 20px
    font-size: 12px
    font-weight: bold
    color: $color-primary-light
    vertical-align: text-top
    border: 1px solid $color-primary-light
    box-sizing: border-box
    border-radius: 50% 50%

  background: white
  border: 1px solid rgba(0, 0, 0, 0.12)
  box-sizing: border-box
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2)
  border-radius: 4px
  max-width: 380px
  padding: 10px
  @media(min-width: 360px)
    padding: 0

  &__fieldset
    max-width: 320px
    border: none
    padding: 0
    @media(min-width: 360px)
      margin: 40px auto 29px

  &__title
    display: flex
    justify-content: space-between
    align-items: flex-end
    width: 100%
    padding: 0 0 16px 0

    &-price
      color: $color-primary-shady

      &-amount
        font-weight: bold
        font-size: 14px
        line-height: 24px
        padding-right: 4px

      &-text
        font-size: 12px
        line-height: 15px

  &__date
    padding-bottom: 21px

  &__guests
    padding-bottom: 21px

  &__pay
    display: grid
    grid-template-columns: 69% 10% 21%
    grid-auto-rows: 34px 34px 34px
    line-height: 18px
    padding-bottom: 31px

    &-days
      grid-column: span 2

    &-amount
      text-align: right

    &-services
      &-info
        @include info

      &-amount
        text-align: right

    &-other
      &-info
        @include info

      &-amount
        text-align: right

  &__total
    font-size: 19px
    line-height: 24px
    font-weight: bold
    color: $color-primary-opaque
    display: flex
    justify-content: space-between
    align-items: baseline
    padding-left: 1px
    padding-bottom: 20px


    &-separator
      flex-grow: 1
      border-bottom: 1px dotted $color-primary-light
