include ../heading/heading
include ../date-range/date-range
include ../dropdown-quantity/dropdown-quantity
include ../button/button

mixin form-reservation({ number, level, pricePerDay, priceService, priceDiscount, priceAdditionally } = {})
  - const dropdownData = require('../../components/dropdown-quantity/dropdown-quantity.json');

  form.form-reserve.js-form-reserve
    fieldset.form-reserve__fieldset
      legend.form-reserve__title
        +heading({text: {number, level, price: pricePerDay}, variant: 'form'})
      div.form-reserve__date
        +date-range({titleFirst: "Прибытие", titleSecond: "Выезд"})
      div.form-reserve__guests
        +dropdown-quantity({title: "Гости", picker: dropdownData.guests})
      div.form-reserve__pay
        div.form-reserve__pay-days
          span.form-reserve__pay-days-price.js-form-reserve__pay-days-price= pricePerDay
          span.form-reserve__pay-days-quantity-begin &#x20bd;&nbsp;x&nbsp;
          span.form-reserve__pay-days-quantity.js-form-reserve__pay-days-quantity
          span.form-reserve__pay-days-quantity-end &nbsp;суток
        div.form-reserve__pay-amount
          span.form-reserve__pay-amount-total.js-form-reserve__pay-amount-total
          span.form-reserve__pay-amount-total-end &#x20bd;
        div.form-reserve__pay-services
          span.form-reserve__pay-services-begin Сбор за услуги: скидка&nbsp;
          span.form-reserve__pay-services-price.js-form-reserve__pay-services-price= priceDiscount
          span.form-reserve__pay-services-end &#x20bd;
        div.form-reserve__pay-services-info i
        div.form-reserve__pay-services-amount
          span.form-reserve__pay-services-amount-total.js-form-reserve__pay-services-amount-total= priceService
          span.form-reserve__pay-services-amount-total-end &#x20bd;
        div.form-reserve__pay-other
          span.form-reserve__pay-other-caption Сбор за дополнительные услуги
        div.form-reserve__pay-other-info i
        div.form-reserve__pay-other-amount
          span.form-reserve__pay-other-amount-total.js-form-reserve__pay-other-amount-total= priceAdditionally
          span.form-reserve__pay-other-amount-total-end &#x20bd;
      div.form-reserve__total
        span.form-reserve__total-title Итого
        div.form-reserve__total-separator
        div.form-reserve__total-quantity
          span.form-reserve__total-amount.js-form-reserve__total-amount
          span.form-reserve__total-amount-end &#x20bd;
      div.form-reserve__submit
        +button({type: "submit", text: "Забронировать", theme: "arrowed", size: "thick"})