@mixin info
  display: flex
  justify-content: center
  align-items: center
  width: 20px
  height: 20px
  font-size: 12px
  font-weight: bold
  color: rgba(31, 32, 65, 0.25)
  vertical-align: text-top
  border: 1px solid rgba(31, 32, 65, 0.25)
  box-sizing: border-box
  border-radius: 50% 50%

@mixin font-head
  font-family: Quicksand, 'Open Sans', Arial, sans-serif
  font-weight: bold
  color: #1F2041

@mixin font-head-third
  font-size: 12px
  line-height: 15px
  font-weight: bold
  text-transform: uppercase

.form-reserve
  background: white
  border: 1px solid rgba(0, 0, 0, 0.12)
  box-sizing: border-box
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2)
  border-radius: 4px
  max-width: 380px

  &__fieldset
    max-width: 320px
    border: none
    margin: 40px auto 29px
    padding: 0

  &__title
    display: flex
    justify-content: space-between
    align-items: flex-end
    width: 100%
    padding: 0 0 18px 0

  &__room-info
    &-num
      @include font-head-third
      color: #1F2041

    &-number
      @include font-head
      font-size: 24px
      line-height: 30px

    &-level
      @include font-head-third
      margin-left: 5px
      color: #BC9CFF

  &__room-price
    color: rgba(31, 32, 65, 0.5)

    &-amount, &-rub
      font-weight: bold

    &-term
      font-size: 12px

  &__date
    padding-bottom: 21px

  &__guests
    padding-bottom: 21px

  &__pay
    display: grid
    grid-template-columns: 69% 10% 21%
    grid-auto-rows: 34px 34px 34px
    line-height: 18px
    padding-bottom: 31px

    &-days
      grid-column: span 2

    &-amount
      text-align: right

    &-services
      &-info
        @include info

      &-amount
        text-align: right

    &-other
      &-info
        @include info

      &-amount
        text-align: right

  &__total
    @include font-head
    font-size: 19px
    line-height: 24px
    display: flex
    justify-content: space-between
    align-items: baseline
    padding-left: 1px
    padding-bottom: 20px


    &-separator
      flex-grow: 1
      border-bottom: 1px dotted rgba(31, 32, 65, 0.25)

  &__submit
    height: 44px