.form-registration
  background: white
  border: 1px solid $color-primary-limpid
  box-sizing: border-box
  box-shadow: 0 0 25px $color-primary-light
  border-radius: 4px
  max-width: 380px

  &__fieldset
    max-width: 320px
    border: none
    margin: 39px auto 29px
    padding: 0

  &__title
    padding: 0 0 20px

  &__name
    padding-bottom: 10px

  &__family
    padding-bottom: 8px

  &__mw
    display: flex
    padding-bottom: 22px

    &-radio
      margin-right: 20px

  &__birth
    padding-bottom: 20px

  &__email
    padding-bottom: 10px

  &__pass
    padding-bottom: 8px

  &__subscription
    padding-bottom: 22px

  &__pay
    padding-bottom: 30px

  &__come-in
    &-caption
      display: flex
      justify-content: space-between
      align-items: center
      line-height: 18px
      color: black
