include ../button/button

mixin quantity-select(props)
	div.quantity-select
		div(style=`height: ${props.height};`).quantity-select__body
				input(type="text" value="Сколько гостей").quantity-select__selected
				div(style=`width: ${props.height};`).quantity-select__dropdown
					+button({type: 'button', mode: 'dropdown'})
		div(tabindex="0").quantity-select__picker
			div.quantity-select__picker-item
				label.quantity-select__picker-caption Взрослые
					div.quantity-select__picker-quantity-group
						button(type="button").quantity-select__picker-minus -
						span.quantity-select__picker-quantity 0
						button(type="button").quantity-select__picker-plus +
			div.quantity-select__picker-item
				label.quantity-select__picker-caption Дети
					div.quantity-select__picker-quantity-group
						button(type="button").quantity-select__picker-minus -
						span.quantity-select__picker-quantity 0
						button(type="button").quantity-select__picker-plus +
			div.quantity-select__picker-item
				label.quantity-select__picker-caption Младенцы
					div.quantity-select__picker-quantity-group
						button(type="button").quantity-select__picker-minus -
						span.quantity-select__picker-quantity 0
						button(type="button").quantity-select__picker-plus +
			div.quantity-select__picker-item
				div.quantity-select__clear
					+button({type:'button', mode: 'picker-grey', text: 'Очистить'})
				div.quantity-select__submit
					+button({type:'button', mode: 'picker', text: 'Применить'})