include ../button/button

mixin quantity-select
	div.quantity-select
		button(type="button").quantity-select__selected Сколько гостей
		button(type="button").quantity-select__dropdown
		div.quantity-select__picker
			div.quantity-select__picker-item
				label.quantity-select__caption Взрослые
				div.quantity-select__picker-quantity-group
					button(type="button").quantity-select__picker-minus -
					span.quantity-select__quantity 0
					button(type="button").quantity-select__picker-plus +
			div.quantity-select__picker-item
				label.quantity-select__caption Дети
				div.quantity-select__picker-quantity-group
					button(type="button").quantity-select__picker-minus -
					span.quantity-select__quantity 0
					button(type="button").quantity-select__picker-plus +
			div.quantity-select__picker-item
				label.quantity-select__caption Младенцы
				div.quantity-select__picker-quantity-group
					button(type="button").quantity-select__picker-minus -
					span.quantity-select__quantity 0
					button(type="button").quantity-select__picker-plus +
			div.quantity-select__picker-item
				div.quantity-select__clear
					+button({type:'button', mode: 'picker', text: 'Очистить'})
				div.quantity-select__submit
					+button({type:'button', mode: 'picker', text: 'Применить'})