.page-search-room
  max-width: 1160px
  padding: 15px
  @media (min-width: 650px)
    display: flex
    justify-content: space-between
  @media (min-width: 1160px)
    margin: 30px auto 0
    padding: 0

  &__filter
    margin: 50px 0
    min-width: 266px
    max-width: 570px
    @media (min-width: 650px)
      margin: 0

  &__pagination
    flex-grow: 1
    @media (min-width: 650px)
      margin-left: 60px

  &__separator
    width: 100%
    margin-top: 70px
    border-top: 1px solid $color-primary-light
