.page-search-room
  display: flex
  justify-content: space-between
  max-width: 1160px
  margin: 30px auto 0
  flex-wrap: wrap

  &__filter
    min-width: 266px

  &__pagination
    max-width: 834px

  &__separator
    width: 100%
    margin-top: 70px
    border-top: 1px solid $color-primary-light