extends ../../templates/template-site/template-site
include ../../components/filter/filter
include ../../components/pagination-cards/pagination-cards

block page-site
	article.page-search-room.js-page-search-room
		section.page-search-room__filter
			+filter({})
		section.page-search-room__pagination
			+pagination-cards({title: "Номера, которые мы для вас подобрали"})
	div.page-search-room__separator