include ../button/button
include ../date-picker/date-picker

mixin date-filter({title = ''} = {})
  div.date-filter.js-date-filter
    h3.date-filter__title.js-date-filter__title= title
    button.date-filter__body.js-date-filter__body(type="button")
      span.date-filter__body-range.js-date-filter__body-range
      div.date-filter__body-arrow
    div.date-filter__picker.js-date-filter__picker
      +date-picker({})