include ../button/button
include ../quantity-select/quantity-select
include ../date-range/date-range

mixin search-number
  div.search-number
    form.search-number__form
      h2.search-number__form-title Найдём номера под ваши пожелания
      div.search-number__form-date-range
        +date-range({height: '44px'})
      div.search-number__form-quantity-select
        label.search-number__quantity-select-title Гости
          +quantity-select({height: '44px'})
      div.search-number__form-submit
        +button({type: 'submit', mode: 'width-arrow', text: 'Подобрать номер'})


