.site-template
  display: flex
  flex-direction: column
  background-color: white
  max-width: 1440px
  width: 100%
  min-height: 100%
  margin: 0 auto

  &__main
    flex-grow: 1

  &__footer
    &-copyright
      margin-top: 1px
