extends ../template-main/template-main

include ../../components/header/header
include ../../components/footer/footer
include ../../components/copyright/copyright

block page
  -
    const copyrightContent = require('../../components/copyright/copyright.json');
    const headerData = require('../../components/header/header.json');
    const footerData = require('../../components/footer/footer.json');

  body.template-site
    header.template-site__header
      +header({data: headerData})
    main.template-site__main
      block page-site
    footer.template-site__footer
      +footer(footerData)
    section.template-site__copyright
      +copyright({content: copyrightContent})