.date-range
  background-color: white
  position: relative

  &::after
    content: ''
    display: block
    width: 100%
    clear: both

  &__head
    &:nth-of-type(1)
      float: left

    &:nth-of-type(2)
      float: right

    &:hover &-out, &:hover &-in, &:hover ~ .date-range__picker .date-picker
      border-color: $color-primary-shady

    &:hover &-in-arrow, &:hover &-out-arrow
      color: $color-primary-dark

    &-title
      font-weight: bold
      font-size: 12px
      line-height: 15px
      text-transform: uppercase
      color: $color-primary-opaque
      padding-bottom: 5px
      margin: 0

    &-in, &-out
      font: inherit
      display: flex
      justify-content: space-between
      align-items: center
      background-color: transparent
      width: 150px
      height: 44px
      border: 1px solid $color-primary-light
      color: $color-primary-dark
      box-sizing: border-box
      border-radius: 4px
      padding: 0
      outline: none
      cursor: pointer

      &:focus
        border: $color-primary-shady

      &:focus &-arrow
        color: $color-primary-dark

      &-date
        text-transform: uppercase
        padding-left: 14px

      &-arrow
        display: flex
        justify-content: center
        align-items: center
        width: 42px
        height: 100%
        color: $color-primary-shady
        padding-top: 2px

        &::before
          font-family: "Material Icons", Icomoon, sans-serif
          content: '\e903'
          font-size: 24px
          line-height: 24px

  &__picker
    display: block
    width: 100%
    position: absolute
    top: 110%
    z-index: 10

    &:hover .date-picker
      border-color: $color-primary-shady

    &_hidden
      display: none
