.date-range
  background-color: white
  position: relative

  &__wrapper
    display: flex
    justify-content: space-between
    flex-wrap: nowrap

  &__head
    max-width: 120px
    flex: 1
    @media (min-width: 360px)
      max-width: 150px

    &:hover &-out, &:hover &-in, &:hover ~ .date-range__picker .date-picker
      border-color: $color-primary-shady

    &:hover &-in-arrow, &:hover &-out-arrow
      color: $color-primary-dark

    &-title
      padding-bottom: 5px

    &-in, &-out
      display: flex
      justify-content: space-between
      align-items: center
      width: 100%
      font: inherit
      background-color: transparent
      height: 44px
      border: 1px solid $color-primary-light
      color: $color-primary-dark
      box-sizing: border-box
      border-radius: 4px
      padding: 0
      outline: none
      cursor: pointer

      &:focus
        border-color: $color-primary-shady

      &:focus &-arrow
        color: $color-primary-dark

      &-date
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        text-transform: uppercase
        padding-left: 14px

      &-arrow
        display: flex
        justify-content: center
        align-items: center
        width: 42px
        height: 100%
        color: $color-primary-shady
        padding-top: 2px

        &::before
          @include font-icon
          content: '\e903'

  &__picker
    display: block
    width: 100%
    position: absolute
    top: 110%
    z-index: 10

    &:hover .date-picker
      border-color: $color-primary-shady

    &_hidden
      display: none
