include ../button/button

mixin header(name)
	div.header__wrapper
		div.header
			img.header__logo(alt="logo toxin" src="img/template-site-logo.svg")
			nav.header__menu
				ul.header__menu-items
					li.header__menu-item
						a.header__menu-ref(href="/mock-address") О нас
					li.header__menu-item
						a.header__menu-ref(href="/mock-address") Услуги
						button.header__submenu(type="button")
						ul.header__submenu-items
							li.header__submenu-item
								a.header__menu-ref(href="/mock-address") Услуга 1
							li.header__submenu-item
								a.header__menu-ref(href="/mock-address") Услуга 2
					li.header__menu-item
						a.header__menu-ref(href="/mock-address") Вакансии
					li.header__menu-item
						a.header__menu-ref(href="/mock-address") Новости
					li.header__menu-item
						a.header__menu-ref(href="/mock-address") Соглашения
						button.header__submenu(type="button")
						ul.header__submenu-items
							li.header__submenu-item
								a.header__menu-ref(href="/mock-address") Соглашение 1
							li.header__submenu-item
								a.header__menu-ref(href="/mock-address") Соглашение 2
			if(name)
				div.header__menu-separator
				output.header__menu-user=name
			else
				div.header__button
					+button({type: "button", theme: "bordered_small", text: "Войти"})
				div.header__button
					+button({type: "button", theme: "violet_small", text: "Зарегистрироваться"})