include ../button/button

mixin header({ data, name } = {})
  - const { logo, nav } = data;

  div.header__wrapper
    div.header
      img.header__logo(alt="logo" src=logo)
      nav.header__menu
        ul.header__menu-items
          each menuItem in nav
            - const { hrefMenu, captionMenu, submenu } = menuItem;
            li.header__menu-item
              a.header__menu-ref(href=hrefMenu)= captionMenu
              if(submenu)
                button.header__submenu(type="button")
                ul.header__submenu-items
                  each submenuItem in submenu
                    - const { hrefSubmenu, captionSubmenu } = submenuItem;
                    li.header__submenu-item
                      a.header__menu-ref(href=hrefSubmenu)= captionSubmenu
      if(name)
        div.header__menu-separator
        output.header__menu-user= name
      else
        div.header__button
          +button({type: "button", theme: "bordered", size: "small", text: "Войти"})
        div.header__button
          +button({type: "button", theme: "filled", size: "large", text: "Зарегистрироваться"})