.header
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  max-width: 1160px
  width: 100%
  margin: 0 auto
  padding: 15px 0

  &__wrapper
    background-color: white
    box-shadow: 0 10px 20px $color-primary-limpid

  &__menu
    display: flex
    justify-content: flex-end
    flex-wrap: wrap
    flex-grow: 1

    &-items
      display: flex
      flex-wrap: wrap
      padding: 0
      margin: 0

    &-item
      list-style: none
      margin-left: 20px

    &-item:nth-of-type(1) > a
      color: $color-primary-dark
      font-weight: bold

    &-item:nth-of-type(2)
      position: relative
      display: flex

    &-item:nth-of-type(5)
      position: relative
      display: flex

    &-ref
      color: $color-primary-shady
      text-decoration: none

    &-separator
      height: 30px
      width: 1px
      margin: 0 20px
      background: $color-primary-limpid

    &-user
      color: $color-primary-shady

  &__submenu
    border: none
    outline: none
    background: transparent
    padding: 0
    display: flex
    align-items: flex-end
    margin-left: 1px

    &:active + &-items
      display: block

    &::before
      font-family: "Material Icons", Icomoon, sans-serif
      content: '\e903'
      font-size: 24px
      line-height: 20px
      color: $color-primary-shady

    &-items
      display: none
      position: absolute
      list-style: none
      padding: 0
      top: 100%
      right: 0
      background-color: white
      border: 1px solid $color-primary-shady
      z-index: 1

    &-item
      white-space: nowrap
      padding: 5px 15px

  &__button
    margin-left: 20px