@font-face
  font-family: 'Montserrat'
  src: url('montserrat-regular.woff2'), url('montserrat-regular.woff'), url('montserrat-regular.ttf'), url('montserrat-regular.svg')
  font-style: normal
  font-weight: normal

@font-face
  font-family: 'Montserrat'
  src: url('montserrat-bold.woff2'), url('montserrat-bold.woff'), url('montserrat-bold.ttf'), url('montserrat-bold.svg')
  font-style: normal
  font-weight: bold

@font-face
  font-family: 'Open Sans'
  src: url('opensans-bold.woff2'), url('opensans-bold.woff'), url('opensans-bold.ttf'), url('opensans-bold.svg')
  font-style: normal
  font-weight: bold

@font-face
  font-family: 'Quicksand'
  src: url('quicksand-regular.woff2'), url('quicksand-regular.woff'), url('quicksand-regular.ttf'), url('quicksand-regular.svg')
  font-style: normal
  font-weight: normal

@font-face
  font-family: 'Quicksand'
  src: url('quicksand-bold.woff2'), url('quicksand-bold.woff'), url('quicksand-bold.ttf'), url('quicksand-bold.svg')
  font-style: normal
  font-weight: bold

@font-face
  font-family: 'Material Icons'
  src: url('materialIcons-regular.woff2'), url('materialIcons-regular.woff'), url('materialIcons-regular.ttf'), url('materialIcons-regular.svg')
  font-style: normal
  font-weight: normal

@font-face
  font-family: 'Icomoon'
  src: url('icomoon.woff2'), url('icomoon.woff'), url('icomoon.ttf'), url('icomoon.svg')
  font-style: normal
  font-weight: normal