style
    include select.scss

mixin select
    select.select
        option(value="1") Взрослые
        option(value="2") Дети
        option(value="3") Младенцы
        option(selected) Сколько гостей
script
    include select.js
