extends ../template-site/template-site

include ../info/info
include ../diagram/diagram
include ../review/review
include ../bullet-list/bullet-list
include ../form-reservation/form-reservation

block page-site
	article.page-room
		section.page-room__preview
		section.page-room__details
			article.page-room__details-info
				h2.page-room__details-info-title Сведения о номере
				div.page-room__details-info-item
					+info
				div.page-room__details-info-item
					+info
				div.page-room__details-info-item
					+info
			article.page-room__details-effect
				h2 Впечатления от номера
				div.page-room__details-effect-diagram
					+diagram
			article.page-room__details-reviews
				div.page-room__details-reviews-header
					h2 Отзывы посетителей номера
					span 2 отзыва
				div.page-room__details-reviews-item
					+review
				div.page-room__details-reviews-item
					+review
			article.page-room__details-rules
				h2.page-room__details-rules-title Правила
				+bullet-list
			article.page-room__details-cancel
				h2 Отмена
				p
				|Бесплатная отмена в течении 48 ч. После этого при отмене не позднее чем за 5 дн. до
				|прибытия вы получите полный возврат за вычетом сбора за услуги.
			article.page-room__details-reservation
				+form-reservation