article
  border: 1px solid black
section
  border: 1px solid yellow
.page-room
  flex-grow: 1

  &-wrapper
    display: flex
    justify-content: space-between
    max-width: 1160px
    margin: 70px auto

  &__preview
    background-image: url('page-room-details__img3.jpg'), url('page-room-details__img2.jpg'), url('page-room-details__img1.jpg')
    background-repeat: no-repeat
    background-position: bottom right, top right, bottom left
    height: 485px

  &__details
    max-width: 710px
    display: flex
    flex-wrap: wrap

    &-info
      flex-grow: 1
      max-width: 280px
      &-title
        margin: 0 0 20px 0
      &-items
        list-style: none
        margin: 0
        padding: 0
        &-item
          &:not(:last-child)::after
            content: ''
            display: block
            width: 100%
            height: 1px
            background-color: rgba(31, 32, 65, 0.1)
            margin: 20px 0
          &-icon
            width: 48px
            height: 48px
            float: left
            margin-right: 10px
          &:nth-child(1) &-icon
            background: url('page-room-details__ico1.svg') no-repeat center center
          &:nth-child(2) &-icon
            background: url('page-room-details__ico2.svg') no-repeat center center
          &:nth-child(3) &-icon
            background: url('page-room-details__ico3.svg') no-repeat center center
          //&-list
          &-term
            font-weight: bold
            color: rgba(31, 32, 65, 0.75)
          //&-define

  &__effect
    margin-left: 81px
    &-title
      margin: 0 0 20px 0
    //&-diagram

  &__reviews
    margin-top: 30px
    &-title
      margin: 0 0 20px 0
      &-quantity
        font-family: Montserrat, sans-serif
        font-weight: normal
        font-size: 14px
        line-height: 24px
        color: rgba(31, 32, 65, 0.5)
        float: right
    &-item
      margin-bottom: 22px

  &__rules
    margin-top: 30px
    max-width: 260px
    &-title
      margin: 0 0 18px 20px
    &-items
      list-style: none
      margin: 0
      padding: 0
      &-item
        display: flex
        align-items: baseline
        margin-bottom: 10px
        &::before
          content: ''
          display: block
          min-width: 10px
          min-height: 10px
          border-radius: 50%
          background: rgba(31, 32, 65, 0.25)
          margin-right: 10px

  &__cancel
    margin: 30px 0 0 100px
    max-width: 340px
    &-title
      margin: 0 0 18px 0
    //&-text

  &__reservation
    max-width: 380px
    width: 100%