.page-room
  flex-grow: 1
  border-bottom: 1px solid rgba(31, 32, 65, 0.25)

  &__preview
    background-image: url('page-room-details__img3.jpg'), url('page-room-details__img2.jpg'), url('page-room-details__img1.jpg')
    background-repeat: no-repeat
    background-position: bottom right, top right, bottom left
    height: 485px

  &__details
    display: grid
    grid-template-columns: 1fr
    @media (min-width: 576px)
      grid-template-columns: minmax(260px, 292px) 1fr minmax(311px, 350px)
    @media (min-width: 992px)
      grid-template-columns: minmax(260px, 292px) 1fr minmax(311px, 350px) 1fr minmax(auto, 380px)
    max-width: 1160px
    margin: 70px auto

    &-info
      grid-area: 1 / 1 / 2 / 2
      &-title
        margin-bottom: 20px

      &-item
        &:not(:last-child)::after
          content: ''
          display: block
          width: 280px
          height: 1px
          background-color: rgba(31, 32, 65, 0.1)
          margin: 20px 0

    &-effect
      grid-area: 2 / 1 / 3 / 2
      @media (min-width: 576px)
        grid-area: 1 / 3 / 2 / 4

      &-diagram
        margin-top: 20px

    &-reviews
      grid-area: 3 / 1 / 4 / 2
      @media (min-width: 576px)
        grid-area: 2 / 1 / 3 / 4

      &-header
        display: flex
        justify-content: space-between
        align-items: baseline
        margin-top: 33px

      &-header span
        color: rgba(31, 32, 65, 0.5)

      &-item
        margin-top: 20px

    &-rules
      grid-area: 4 / 1 / 5 / 2
      @media (min-width: 576px)
        grid-area: 3 / 1 / 4 / 2
      margin-top: 30px

      &-title
        margin: 0 0 18px 20px

    &-cancel
      grid-area: 5 / 1 / 6 / 2
      @media (min-width: 576px)
        grid-area: 3 / 3 / 4 / 4
      margin-top: 30px

    &-cancel p
      margin: 18px 0 0

    &-reservation
      grid-area: 6 / 1 / 7 / 2
      @media (min-width: 576px)
        grid-area: 4 / 1 / 5 / 4
        justify-self: center
        width: 380px
      @media (min-width: 992px)
        grid-area: 1 / 5 / 4 / 6
        justify-self: stretch