mixin checkbox({ caption, name, isChecked } = {})
	label.checkbox.js-checkbox
		span.checkbox__caption.js-checkbox__caption= caption
		input.checkbox__true-input.js-checkbox__true-input(type="checkbox" name= name checked= isChecked)
		div.checkbox__false-input