mixin checkbox({ caption, name, isChecked } = {})
  label.checkbox
    span.checkbox__caption= caption
    input.checkbox__visible-input(type="checkbox" name=name checked=isChecked)
    div.checkbox__hidden-input