mixin checkbox(props = {})
	- const { caption, name, isChecked } = props
	label.checkbox.js-checkbox
		span.checkbox__caption= caption
		input.checkbox__hidden.js-checkbox__hidden(type="checkbox" name= name checked= isChecked)
		div.checkbox__visible