include ../rate-button/rate-button

mixin card-room
	form.card-room
		div.card-room__slider
			input(type="radio" name="card-room__slider-radio" value="1" data-dir="").card-room__slider-radio
			div.card-room__slider-item
			img(src="" alt="").card-room__slider-img
			input(type="radio" name="card-room__slider-radio" value="2" data-dir="").card-room__slider-radio
			div.card-room__slider-item
			img(src="" alt="").card-room__slider-img
			input(type="radio" name="card-room__slider-radio" value="3" data-dir="").card-room__slider-radio
			div.card-room__slider-item
			img(src="" alt="").card-room__slider-img
			input(type="radio" name="card-room__slider-radio" value="4" data-dir="" checked).card-room__slider-radio
			div.card-room__slider-item
			img(src="" alt="").card-room__slider-img
			div.card-room__slider-control
				div.card-room__slider-control-left
					button(type="button").card-room__slider-control-left-button
				div.card-room__slider-control-right
					button(type="button").card-room__slider-control-right-button
		div.card-room__price
			div.card-room__price-room
				h3 &#8470;&#x2002;
				h2
					output.card-room__price-number
				h3
					output.card-room__price-level
			div.card-room__price-pay
				output.card-room__price-pay-amount
				span &#x20bd;&#8194;
				span в сутки
		div.card-room__review
			+rate-button({star: "1", uid: "2"})
			output.card-room__review-quantity
			span &#160;Отзывов