.bullet-list
  &__items
    list-style: none
    margin: 0
    padding: 0

  &__title
    font-weight: bold
    font-size: 12px
    line-height: 15px
    text-transform: uppercase
    color: $color-primary-opaque
    padding-bottom: 13px
    margin: 0

  &__item
    display: flex
    white-space: pre-wrap
    align-items: baseline

    &:not(:last-of-type)
      margin-bottom: 10px

    &::before
      content: ''
      display: block
      width: 10px
      height: 10px
      border-radius: 50%
      background: $color-primary-light
      margin-right: 11px