.checkbox-list
  position: relative
  background: white

  &__check
    position: absolute
    opacity: 0
    z-index: -1

    &:focus + label, &:hover:not(:disabled) + label
      & h3, div:before
        text-shadow: 0 0 5px rgba(31, 32, 65, 0.5)

    &:checked + label div:before
      content: '\e902'

    &:checked ~ div
      display: block

  &__body
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    height: 44px
    cursor: pointer

    &-title
      font-weight: bold
      font-size: 12px
      line-height: 15px
      text-transform: uppercase
      background: transparent
      margin: 0
      color: #1F2041

    &-arrow
      display: flex
      justify-content: center
      align-items: center
      background: transparent
      width: 44px
      height: 100%

      &::before
        font-family: "Material Icons", Icomoon, sans-serif
        content: '\e903'
        font-size: 24px
        line-height: 24px
        color: rgba(31, 32, 65, 0.5)

  &__picker
    display: none
    position: relative
    bottom: 0
    padding-top: 3px
    color: rgba(31, 32, 65, 0.5)

    &-item:not(:last-of-type)
      margin-bottom: 10px