include ../checkbox/checkbox

mixin checkbox-list(caption)
	div.checkbox-list
		div.checkbox-list__head
			h3= caption
			label
				input(type="checkbox").checkbox-list__head-checkbox-true
				div.checkbox-list__head-checkbox-false
		div.checkbox-list__picker
			div.checkbox-list__picker-item
				+checkbox({name: "breakfast", caption: "Завтрак"})
			div.checkbox-list__picker-item
				+checkbox({name: "table", caption: "Письменный стол", checked: 'checked'})
			div.checkbox-list__picker-item
				+checkbox({name: "chair", caption: "Стул для кормления", checked: 'checked'})
			div.checkbox-list__picker-item
				+checkbox({name: "bed", caption: "Кроватка", checked: 'checked'})
			div.checkbox-list__picker-item
				+checkbox({name: "tv", caption: "Телевизор"})
			div.checkbox-list__picker-item
				+checkbox({name: "shampoo", caption: "Шампунь"})
