include ../checkbox/checkbox

mixin checkbox-group({ title, items } = {})
  div.checkbox-group
    h3.checkbox-group__title= title
    - for (let i = items.reverse().length; i > 0; i--)
      div.checkbox-group__checkbox
        +checkbox(items.pop())
