.checkbox-group
  max-width: 230px

  &__title
    padding-bottom: 17px

  &__checkbox
    color: $color-primary-shady
    padding-bottom: 10px

    &:last-child
      line-height: 16px
      padding-bottom: 0

    &-note
      padding-left: 30px