include ../checkbox/checkbox

mixin checkbox-group({title = '', checkboxes = []} = {})
  div.checkbox-group
    h3.checkbox-group__title= title
    - for (let i = 0; i < checkboxes.length; i++)
      div.checkbox-group__checkbox
        +checkbox(checkboxes[i])
