.checkbox-group
  max-width: 230px

  &__title
    font-weight: bold
    font-size: 12px
    line-height: 15px
    text-transform: uppercase
    color: $color-primary-opaque
    padding-bottom: 17px
    margin: 0

  &__checkbox
    color: $color-primary-shady
    padding-bottom: 10px

    &:last-child
      line-height: 16px
      padding-bottom: 0

    &-note
      padding-left: 30px