include ../checkbox/checkbox

mixin checkbox-group({ title, items } = {})
  div.checkbox-group
    h3.checkbox-group__title= title
    - for (let i = 0; i < items.length; i++)
      div.checkbox-group__checkbox
        +checkbox(items[i])
