include ../checkbox/checkbox

mixin checkbox-group({ title, items } = {})
  div.checkbox-group
    h3.checkbox-group__title= title
    each item in items
      div.checkbox-group__checkbox
        +checkbox(item)