extends ../template-uikit/template-uikit

include ../header-main/header-main

block page-uikit
	div.uikit-headers-footers__wrapper
		article.uikit-headers-footers
			header.uikit-headers-footers__header
				+header-main
			header.uikit-headers-footers__header

			footer.uikit-headers-footers__footer

			footer.uikit-headers-footers__footer

