.pagination-cards
  &__title
    margin: 0 0 21px 0
    padding: 0

  &__content
    display: grid
    grid-template-columns: repeat(auto-fit, 270px)
    grid-gap: 20px 12px

  &__control
    display: flex
    padding: 40px 14px 7px 0
    justify-content: center