.pagination-cards
  &__content
    display: flex
    justify-content: space-between
    flex-wrap: wrap

    &-title
      margin: 0 0 21px 0
      width: 100%

    &-card
      padding-bottom: 21px

  &__control
    display: flex
    padding: 20px 14px 7px 0
    justify-content: center