include ../card-room/card-room
include ../pagination/pagination

mixin pagination-cards
	div.pagination-cards.js-pagination-cards
		div.pagination-cards__content
			h1.pagination-cards__content-title Номера, которые мы для вас подобрали
			- for (let i = 0; i < 12; i++)
				aside.pagination-cards__content-card
					+card-room
		div.pagination-cards__control
			+pagination