include ../card-room/card-room
include ../pagination/pagination

mixin pagination-cards({title = ''} = {})
	div.pagination-cards
		div.pagination-cards__content
			h1.pagination-cards__content-title= title
			- for (let i = 0; i < 12; i++)
				aside.pagination-cards__content-card.js-pagination-cards__content-card
					+card-room({})
		div.pagination-cards__control
			+pagination({})