include ../card-room/card-room
include ../pagination/pagination

mixin pagination-cards({ title, cards } = {})
  div.pagination-cards
    div.pagination-cards__content
      div.pagination-cards__content-title
        +heading({text: title, variant: 'first'})
      each card in cards
        aside.pagination-cards__content-card
          +card-room(card)
    div.pagination-cards__control
      +pagination({caption: "1 \u2013 12 из 100+ вариантов аренды"})