include ../hotel-room-card/hotel-room-card
include ../pagination/pagination

mixin pagination-cards({ title, cards } = {})
  - const paginationData = require('../../components/pagination/pagination.json');

  form.pagination-cards
    legend.pagination-cards__title
      +heading({text: title, variant: 'h1'})
    div.pagination-cards__content
      each card in cards
        aside.pagination-cards__content-card
          +hotel-room-card(card)
    div.pagination-cards__control
      +pagination(paginationData)