@mixin header-third
  font-weight: bold
  font-size: 12px
  line-height: 15px
  text-transform: uppercase
  color: $color-primary-opaque
  margin: 0

.footer
  display: flex
  justify-content: space-between
  max-width: 1160px
  flex-wrap: wrap
  margin: 0 auto
  padding: 100px 0 101px

  &__wrapper
    background-color: white
    box-shadow: 0 1px 0 $color-primary-limpid

  &__logo
    max-width: 260px
    margin-right: 40px

    &-caption
      margin-top: 10px

  &__nav
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    padding-top: 4px
    flex-grow: 1

    &-items
      list-style: none
      margin: 0
      padding: 0

      &-title
        @include header-third

      &-item
        line-height: 18px
        margin-top: 20px

        &-ref
          text-decoration: none
          color: $color-primary-shady

  &__subscription
    max-width: 260px
    padding-top: 4px

    &-title
      @include header-third

    &-caption
      margin: 18px 0 23px
