include ../heading/heading
include ../subscription/subscription

mixin footer({ nav, logoImg, logoCaption, subTitle, subCaption } = {})
  div.footer__wrapper
    div.footer
      section.footer__logo
        img.footer__logo-img(alt="logo" src=logoImg)
        p.footer__logo-caption= logoCaption
      nav.footer__nav
        each block in nav
          - const { title, items } = block;
          div.footer__nav-block
            div.footer__nav-items-title
              +heading({text: title, variant: 'third'})
            ul.footer__nav-items
              each item in items
                - const { href, text } = item;
                li.footer__nav-items-item
                  a.footer__nav-items-item-ref(href=href)= text
      section.footer__subscription
        div.footer__subscription-title
          +heading({text: subTitle, variant: 'third'})
        p.footer__subscription-caption= subCaption
        div.footer__subscription-form
          +subscription()