include ../subscription/subscription

mixin footer
  -
    const nav = [{
      title: 'Навигация',
      items: [
        'О нас',
        'Новости',
        'Служба поддержки',
        'Услуги',
      ],
    }, {
      title: 'О нас',
      items: [
        'О сервисе',
        'Наша команда',
        'Вакансии',
        'Инвесторы',
      ],
    }, {
      title: 'Служба поддержки',
      items: [
        'Соглашения',
        'Сообщества',
        'Связь с нами',
        '',
      ],
    }]

  div.footer__wrapper
    div.footer
      section.footer__logo
        img.footer__logo-img(alt="logo" src="img/template-site-logo.svg")
        p.footer__logo-caption Бронирование номеров в лучшем отеле 2019 года по версии ассоциации &laquo;Отельные взгляды&raquo;
      nav.footer__nav
        - for (let i = 0; i < 3; i++)
          div.footer__nav-block
            h3.footer__nav-items-title= nav[i].title
            ul.footer__nav-items
              - for (let j = 0; j < 4; j++)
                li.footer__nav-items-item
                  a.footer__nav-items-item-ref(href="/mock-address")= nav[i].items[j]
      section.footer__subscription
        h3.footer__subscription-title Подписка
        p.footer__subscription-caption Получайте специальные предложения и новости сервиса
        div.footer__subscription-form
          +subscription