extends ../../templates/template-site/template-site
include ../../components/form-search-room/form-search-room

block page-site
  div.site-landing
    div.site-landing__content
      div.site-landing__search-number
        +form-search-room({title: "Найдём номера под ваши пожелания"})
      p.site-landing__caption Лучшие номера для вашей работы, отдыха и просто вдохновения