mixin copyright(props = {})
  -
    const { theme } = props
    const themes = { 'tablet': `copyright_theme_tablet` }
    const refs = [
      'http://twitter.com',
      'http://facebook.com',
      'http://instagram.com',
    ]
    const caption = 'Copyright \u00A9 2018 Toxin отель. Все права зачищены.'

  div.copyright(class= themes[theme])
    div.copyright__wrapper
      img.copyright__logo(src="img/template-site-logo.svg" alt="toxin logo")
      p.copyright__caption= caption
      div.copyright__social
        - for (let i = 0; i < 3; i++)
          a.copyright__social-icon(href=refs[i] target="_blank" rel="noopener noreferrer")
