.copyright
  background-color: white
  box-shadow: 0 10px 20px $color-primary-limpid

  &__wrapper
    display: flex
    align-items: center
    justify-content: center
    flex-grow: 1
    flex-wrap: wrap
    max-width: 1160px
    margin: 0 auto
    padding: 23px 15px
    @media(min-width: 576px)
      justify-content: space-between
    @media(min-width: 1160px)
      padding: 23px 0


  &__logo
    display: none

  &__caption
    line-height: 17px
    margin: 0

  &__social
    display: flex
    max-width: 112px
    width: 100%
    justify-content: space-between

    &-icon
      width: 24px
      height: 24px

    &-icon:nth-child(1)
      background: url('img/copyright-twitter.png') no-repeat center center

    &-icon:nth-child(2)
      background: url('img/copyright-facebook.png') no-repeat center center

    &-icon:nth-child(3)
      background: url('img/copyright-instagram.png') no-repeat center center

  &_theme_logotype
    background-color: transparent
    box-shadow: none

    .copyright__wrapper
      flex-direction: column
      max-width: 768px
      padding: 120px 0
      box-shadow: 0 10px 20px $color-primary-limpid
      background-color: white

    .copyright__logo
      display: block

    .copyright__caption
      text-align: center
      margin: 21px 0 25px
