.copyright
  background-color: white
  box-shadow: 0 10px 20px $color-primary-limpid

  &__wrapper
    display: flex
    flex-direction: column
    align-items: center
    padding: 120px 15px

  &__logo
    display: block

  &__caption
    text-align: center
    margin: 18px 0 21px

  &__icons
    margin-right: 20px

  &_variant_desktop
    @media (min-width: 768px)
      .copyright__wrapper
        flex-direction: row
        justify-content: space-between
        flex-grow: 1
        max-width: 1160px
        padding: 23px 15px
        margin: 0 auto

      .copyright__logo
        display: none

      .copyright__caption
        margin: 0

      .copyright__icons
        margin-right: 0