include ../copyright-images/copyright-images

mixin copyright({ content } = {})
  -
    const items = require('../../components/copyright-images/copyright-images.json');
    const { logo, caption } = content;
    const { src, alt } = logo;

  div.copyright
    div.copyright__wrapper
      img.copyright__logo(src=src alt=alt)
      span.copyright__caption= caption
      div.copyright__icons
        +copyright-images({items})