mixin copyright(props)
  - const themes = { 'tablet': 'copyright_theme_tablet' }

  div.copyright.js-copyright(class= props ? themes[props.theme]: '')
    div.copyright__wrapper
      img.copyright__logo.js-copyright__logo(alt="toxin logo")
      p.copyright__caption.js-copyright__caption
      div.copyright__social
        - for (let i = 0; i < 3; i++)
          a.copyright__social-icon.js-copyright__social-icon(target="_blank" rel="noopener noreferrer")
