mixin copyright(theme)
  div.copyright__wrapper(class=`copyright_${theme}`)
    div.copyright
      img.copyright__logo(src="img/template-site-logo.svg" alt="toxin logo")
      p.copyright__caption Copyright &copy; 2018 Toxin отель. Все права зачищены.
      div.copyright__social
        a.copyright__social-icon(href="http://twitter.com" target="_blank" rel="noopener noreferrer")
        a.copyright__social-icon(href="http://facebook.com" target="_blank" rel="noopener noreferrer")
        a.copyright__social-icon(href="http://instagram.com" target="_blank" rel="noopener noreferrer")