.copyright
  background-color: white
  box-shadow: 0 10px 20px $color-primary-limpid

  &__wrapper
    display: flex
    flex-direction: column
    align-items: center
    padding: 30px 15px
    @media (min-width: 380px)
      padding: 120px 15px
      @media (min-width: 768px)
        flex-direction: row
        justify-content: space-between
        flex-grow: 1
        max-width: 1160px
        padding: 23px 15px
        margin: 0 auto

  &__logo
    display: block
    @media (min-width: 768px)
      display: none

  &__caption
    text-align: center
    margin: 18px 0 21px
    @media (min-width: 768px)
      margin: 0

  &__icons
    margin-right: 20px
    @media (min-width: 768px)
      margin-right: 0