include __copyright/footer__copyright

mixin footer
    footer.footer
        div.footer__content
            ul.footer__content-column-items
                li.footer__content-item
                    img(alt="logo" src="img/desktop.blocks__logo.svg")
                li.footer__content-item
                    p.footer__content-paragraph Бронирование номера в лучшем<br> отеле 2019 года по версии<br> ассоциации "Отельные взгляды"
            ul.footer__content-column-items
                li.footer__content-item
                    h4.footer__content-title Навигация
                li.footer__content-item
                    a.footer__content-ref(href="#") О нас
                li.footer__content-item
                    a.footer__content-ref(href="#") Новости
                li.footer__content-item
                    a.footer__content-ref(href="#") Служба поддержки
                li.footer__content-item
                    a.footer__content-ref(href="#") Услуги
            ul.footer__content-column-items
                li.footer__content-item
                    h4.footer__content-title О нас
                li.footer__content-item
                    a.footer__content-ref(href="#") О сервисе
                li.footer__content-item
                    a.footer__content-ref(href="#") Наша команда
                li.footer__content-item
                    a.footer__content-ref(href="#") Вакансии
                li.footer__content-item
                    a.footer__content-ref(href="#") Инвесторы
            ul.footer__content-column-items
                li.footer__content-item
                    h4.footer__content-title Служба поддержки
                li.footer__content-item
                    a.footer__content-ref(href="#") Соглашения
                li.footer__content-item
                    a.footer__content-ref(href="#") Сообщества
                li.footer__content-item
                    a.footer__content-ref(href="#") Связь с нами
            ul.footer__content-column-items
                li.footer__content-item
                    h4.footer__content-title Подписка
                li.footer__content-item
                    p.footer__content-paragraph Получайте специальные<br> предложения и новости сервиса
                li.footer__content-item
                    form.footer__email-input-form
                        input.footer__email-input(type="email" value="Email" name="Email")
                        +button("", "44px", "44px", "button_arrow")
    +footer__copyright