.date-picker
  border: 1px solid rgba(31, 32, 65, 0.25)
  box-sizing: border-box
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05)
  border-radius: 4px
  background: white
  max-width: 320px
  width: 100%

  &__head
    display: flex
    align-items: flex-start
    justify-content: space-between
    padding: 18px 0 5px

    &-title
      font-weight: bold
      font-size: 19px
      color: #1F2041
      max-width: 80px
      text-align: center
      padding-top: 2px
      margin: 0

    &-list-left, &-list-right
      width: 24px
      height: 24px
      padding: 0
      border: none
      outline: none
      background: transparent
      margin: 0 20px

      &::before
        font-family: "Material Icons", Icomoon, sans-serif
        font-size: 24px
        color: #BC9CFF
        cursor: pointer

    &-list-left:before
      content: '\e900'

    &-list-right:before
      content: '\e901'

  &__body
    display: grid
    grid-template-columns: repeat(7, min-content)
    grid-template-rows: repeat(6, min-content)
    justify-content: center
    align-content: center
    font-size: 12px
    line-height: 15px
    padding-left: 1px

    &-week
      font-weight: bold
      line-height: 40px
      text-align: center
      vertical-align: center
      color: #BC9CFF

    &-range
      background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%)

    & div[data-range='first']
      border-radius: 50% 0 0 50%

    & div[data-range='last']
      border-radius: 0 50% 50% 0

    &-date
      width: 40px
      height: 40px
      font: inherit
      border: none
      border-radius: 50%
      outline: none
      padding: 0
      background: transparent
      color: rgba(31, 32, 65, 0.25)
      cursor: pointer

      &_day-month
        color: rgba(31, 32, 65, 0.5)

      &_selected, &_current
        font-weight: bold
        color: white

      &_selected
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)

      &_current
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)

  &__footer
    display: flex
    justify-content: space-between

    &-clear, &-submit
      margin: 20px 20px 19px
