.date-picker
  border: 1px solid $color-primary-light
  box-sizing: border-box
  box-shadow: 0 10px 20px $color-primary-limpid
  border-radius: 4px
  background: white
  max-width: 320px
  width: 100%

  &__head
    display: flex
    justify-content: space-between
    padding: 19px 0 30px

    &-date
      font-size: 19px
      line-height: 24px
      font-weight: bold
      color: $color-primary-opaque
      text-align: center

    &-list-left, &-list-right
      width: 24px
      height: 24px
      padding: 0
      border: none
      outline: none
      background: transparent
      margin: 0 20px

      &::before
        @include font-icon
        color: $color-purple
        cursor: pointer

    &-list-left:before
      content: '\e900'

    &-list-right:before
      content: '\e901'

  &__body
    display: grid
    max-width: 280px
    grid-template-columns: repeat(7, auto)
    grid-template-rows: repeat(6, min-content)
    align-items: center
    font-size: 12px
    line-height: 15px
    margin: 0 auto

    &-week
      font-weight: bold
      line-height: 40px
      text-align: center
      vertical-align: center
      color: #BC9CFF

    &-range
      background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%)

    &-range[data-range='first']
      border-radius: 50% 0 0 50%

    &-range[data-range='last']
      border-radius: 0 50% 50% 0

    &-date
      max-width: 40px
      width: 100%
      height: 40px
      font: inherit
      border: none
      border-radius: 50%
      outline: none
      padding: 0
      background: transparent
      color: $color-primary-light
      cursor: pointer

      &_color_shady
        color: $color-primary-shady

      &_color_purple, &_color_green
        font-weight: bold
        color: white

      &_color_purple
        background: linear-gradient(180deg, $color-purple 0%, #8BA4F9 100%)

      &_color_green
        background: linear-gradient(180deg, $color-green 0%, #66D2EA 100%)

  &__footer
    display: flex
    justify-content: space-between
    margin: 20px 19px 19px
