include ../search-number/search-number

mixin page-landing
	div.page-landing
		div.page-landing__content
			div.page-landing__search-number
				+search-number
			p.page-landing__caption Лучшие номера для вашей работы, отдыха и просто вдохновения