include ../form-search-number/form-search-number

mixin page-landing
	div.page-landing
		div.page-landing__content
			div.page-landing__form-search-number
				+form-search-number
			p.page-landing__caption Лучшие номера для вашей работы, отдыха и просто вдохновения