extends ../template-main/template-main
include ../form-search-room/form-search-room

block page
	div.page-landing
		div.page-landing__content
			div.page-landing__search-number
				+form-search-room
			p.page-landing__caption Лучшие номера для вашей работы, отдыха и просто вдохновения