.page-landing
  background: url('page-landing.png') no-repeat bottom right
  display: flex
  flex-grow: 1

  &__content
    display: flex
    justify-content: space-between
    max-width: 1160px
    margin: 0 auto
    flex-wrap: wrap
    flex-grow: 1

  &__search-number
    margin-top: 70px
    margin-bottom: 386px
    max-width: 380px
    width: 100%

  &__caption
    max-width: 297px
    align-self: flex-end
    line-height: 24px
    text-align: right
    color: rgba(31, 32, 65, 0.75)
    margin-bottom: 20px