@font-face
  font-family: 'Montserrat'
  src: url('fonts/montserrat-regular.woff2') , url('fonts/montserrat-regular.woff'), url('fonts/montserrat-regular.ttf'), url('fonts/montserrat-regular.svg')
  font-style: normal
  font-weight: normal

@font-face
  font-family: 'Montserrat'
  src: url('fonts/montserrat-bold.woff2') , url('fonts/montserrat-bold.woff'), url('fonts/montserrat-bold.ttf'), url('fonts/montserrat-bold.svg')
  font-style: normal
  font-weight: bold

@font-face
  font-family: 'Open Sans'
  src: url('fonts/opensans-bold.woff2') , url('fonts/opensans-bold.woff'), url('fonts/opensans-bold.ttf'), url('fonts/opensans-bold.svg')
  font-style: normal
  font-weight: bold

@font-face
  font-family: 'Quicksand'
  src: url('fonts/quicksand-regular.woff2') , url('fonts/quicksand-regular.woff'), url('fonts/quicksand-regular.ttf'), url('fonts/quicksand-regular.svg')
  font-style: normal
  font-weight: normal

@font-face
  font-family: 'Quicksand'
  src: url('fonts/quicksand-bold.woff2') , url('fonts/quicksand-bold.woff'), url('fonts/quicksand-bold.ttf'), url('fonts/quicksand-bold.svg')
  font-style: normal
  font-weight: bold

@font-face
  font-family: 'Material Icons'
  src: url('fonts/materialIcons-regular.woff2') , url('fonts/materialIcons-regular.woff'), url('fonts/materialIcons-regular.ttf'), url('fonts/materialIcons-regular.svg')
  font-style: normal
  font-weight: normal

@font-face
  font-family: 'Icomoon'
  src: url('fonts/icomoon.woff2') , url('fonts/icomoon.woff'), url('fonts/icomoon.ttf'), url('fonts/icomoon.svg')
  font-style: normal
  font-weight: normal
