mixin diagram
	div.diagram
		div.diagram__circle
			div.diagram__circle-sector
			div.diagram__circle-sector
			div.diagram__circle-sector
			div.diagram__circle-content
				h1.diagram__circle-content-title 260
				h3.diagram__circle-content-title голосов
		ul.diagram__list
			li.diagram__list-item Великолепно
			li.diagram__list-item Хорошо
			li.diagram__list-item Удовлетворительно
			li.diagram__list-item Разочарован