extends ../template-site/template-site
include ../filter/filter
include ../pagination/pagination

block page-site
	article.page-search-room
		section.page-search-room__filter
			+filter
		section.page-search-room__pagination
			+pagination
	div.page-search-room__separator