mixin radio(props)
	label.radio
		if(props)
			input.radio__check(type="radio", name=props.name, value=props.value, checked=props.checked)
		div.radio__checkbox(tabindex="0")
		span.radio__caption=props.caption