mixin radio(props)
	label.radio
		if(props.checked)
			input.radio__check(type="radio", name= props.name, value= props.value, checked)
		else
			input.radio__check(type="radio", name= props.name, value= props.value)
		div.radio__checkbox
		span.radio__caption= props.caption