include ../button/button
include ../text-field/text-field

mixin form-come-in
	form.form-come-in
		fieldset.form-come-in__fieldset
			legend.form-come-in__title Войти
			div.form-come-in__email
				+text-field({type: "email", value: "Email"})
			div.form-come-in__pass
				+text-field({type: "password", value: "Пароль"})
			div.form-come-in__come
				+button({type: "submit", text: "Войти", mode: "forward"})
			div.form-come-in__reg
				label.form-come-in__reg-caption Нет аккаунта на Toxin?
					div.form-come-in__reg-button
						+button({type: "submit", text: "Создать", mode: "come-in"})