include ../button/button
include ../text-field/text-field

mixin form-come-in
	form.form-come-in.js-form-come-in
		fieldset.form-come-in__fieldset
			legend.form-come-in__title.js-form-come-in__title
			div.form-come-in__email
				+text-field({type: "email"})
			div.form-come-in__pass
				+text-field({type: "password"})
			div.form-come-in__come
				+button({type: "submit", theme: "arrowed", size: "large-second"})
			div.form-come-in__reg
				label.form-come-in__reg-caption
					span.js-form-come-in__reg-caption
					div.form-come-in__reg-button
						+button({type: "submit",theme: "bordered", size: "small-second"})