include ../button/button
include ../text-field/text-field

mixin form-come-in(props = {})
	form.form-come-in.js-form-come-in
		fieldset.form-come-in__fieldset
			legend.form-come-in__title Войти
			div.form-come-in__email
				+text-field({type: "email", value: "Email"})
			div.form-come-in__pass
				+text-field({type: "password", value: "Пароль"})
			div.form-come-in__come
				+button({type: "submit", theme: "arrowed", size: "huge", text: "Войти"})
			div.form-come-in__reg
				label.form-come-in__reg-caption
					span.form-come-in__reg-caption Нет аккаунта на Toxin?
					div.form-come-in__reg-button
						+button({type: "submit",theme: "bordered", size: "middle", text: "Создать"})