doctype html
html(lang="ru" dir="ltr")
    head
        meta(charset="utf-8")
        link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
        title TOXIN
    body
        include desktop.blocks/form-search-number/form-search-number