@font-face {
	font-family: 'Montserrat';
	src:
		url('fonts/montserrat-v14-latin_cyrillic-regular.woff') format('woff'),
		url('fonts/montserrat-v14-latin_cyrillic-regular.ttf') format('truetype'),
		url('fonts/montserrat-v14-latin_cyrillic-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
  font-family: 'Montserrat', monospace;
}