extends templates/template-main/template-main

block page
	body.index
		h1.index__header TOXIN
		nav.index__nav
			h2.index__header-uikit UI kit
			ul.index__nav-items
				li.index__nav-item
					a.index__nav-item-link(href="uikit-colors.html") Colors & Type
				li.index__nav-item
					a.index__nav-item-link(href="uikit-elements.html") Elements
				li.index__nav-item
					a.index__nav-item-link(href="uikit-forms.html") Forms
				li.index__nav-item
					a.index__nav-item-link(href="uikit-headers-footers.html") Headers & Footers

			h2.index__header-site Website pages
			ul.index__nav-items
				li.index__nav-item
					a.index__nav-item-link(href="page-landing.html") Landing Page
				li.index__nav-item
					a.index__nav-item-link(href="room-search.html") Search Room
				li.index__nav-item
					a.index__nav-item-link(href="room-details.html") Room Details
				li.index__nav-item
					a.index__nav-item-link(href="page-registration.html") Registration
				li.index__nav-item
					a.index__nav-item-link(href="page-sign.html") Sign In