doctype html
html(lang="ru" dir="ltr")
    head
        meta(charset="utf-8")
        liink(rel="icon" href="favicon.ico" type="image/x-icon")
        title TOXIN
    body
        include desctop.blocks/form-search-number/form-search-number