include ../like/like

mixin review
	bloquote.review
		div.review__avatar
			div.review__avatar-img
				img.review__avatar-portrait(alt="portrait")
			div.review__avatar-like
				+like("checked")
		div.review__quote
			cite.review__quote-author
				span.review__quote-author-name
				p.review__quote-author-date
			p.review__quote-text