.review
  display: flex

  &__avatar
    display: flex
    flex-direction: column
    align-items: center
    margin-right: 10px

    &-img
      width: 48px
      height: 48px
      overflow: hidden
      border-radius: 50%

    &-portrait
      transform: translate(-23%,-12%)

    &-like
      margin-top: 12px

  &__quote
    &-author
      &-name
        font-style: normal
        font-weight: bold
        color: rgba(31, 32, 65, 0.75)
      &-date
        font-style: normal
        margin: 0
    &-text
      margin: 10px 0 0 0