include ../button/button

mixin dropdown-guests
	div.dropdown-guests
		label
			h3 Гости
			div.dropdown-guests__head
				output(name="dropdown__head-out").dropdown-guests__head-out Сколько гостей
				div.dropdown-guests__head-button
					+button({type: 'button', mode: 'dropdown'})
			div.dropdown-guests__picker
				div.dropdown-guests__picker-item
					h3 Взрослые
					div.dropdown-guests__picker-item-quantity
						button(type="button" disabled).dropdown-guests__picker-item-quantity-minus -
						h3
							output.dropdown-guests__picker-item-quantity-amount 0
						button(type="button").dropdown-guests__picker-item-quantity-plus +
				div.dropdown-guests__picker-item
					h3 Дети
					div.dropdown-guests__picker-item-quantity
						button(type="button" disabled).dropdown-guests__picker-item-quantity-minus -
						h3
							output.dropdown-guests__picker-item-quantity-amount 0
						button(type="button").dropdown-guests__picker-item-quantity-plus +
				div.dropdown-guests__picker-item
					h3 Младенцы
					div.dropdown-guests__picker-item-quantity
						button(type="button" disabled).dropdown-guests__picker-item-quantity-minus -
						h3
							output.dropdown-guests__picker-item-quantity-amount 0
						button(type="button").dropdown-guests__picker-item-quantity-plus +
				div.dropdown-guests__picker-item
					div.dropdown-guests__picker-item-clear
						+button({type:'button', mode: 'picker-grey', text: 'Очистить'})
					div.dropdown-guests__picker-item-submit
						+button({type:'button', mode: 'picker', text: 'Применить'})