extends ../template-uikit/template-uikit

block page
	section.uikit-index
		nav.uikit-index__nav
			h1 UI kit
			ul
				li
					a(href="ui_colors.html") Colors & Type
				li
					a(href="ui_form.html") Form Elements
				li
					a(href="ui_cards.html") Cards
				li
					a(href="ui_hf.html") Headers & Footers
			h1 Website pages
			ul
				li
					a(href="landing.html") Landing Page
				li
					a(href="room_search.html") Search Room
				li
					a(href="room_details.html") Room Details
				li
					a(href="registration.html") Registration
				li
					a(href="sign_in.html") Sign In