extends ../template-main/template-main

block page
	article.index
		h1 Site TOXIN
			nav.index__nav
				h2 UI kit
				ul
					li
						a(href="uikit_colors.html") Colors & Type
					li
						a(href="uikit_form.html") Form Elements
					li
						a(href="uikit_cards.html") Cards
					li
						a(href="uikit_hf.html") Headers & Footers
				h2 Website pages
				ul
					li
						a(href="landing.html") Landing Page
					li
						a(href="room_search.html") Search Room
					li
						a(href="room_details.html") Room Details
					li
						a(href="registration.html") Registration
					li
						a(href="sign_in.html") Sign In