extends ../../templates/template-uikit/template-uikit

include ../../components/form-search-room/form-search-room
include ../../components/form-reservation/form-reservation
include ../../components/date-picker/date-picker
include ../../components/form-registration/form-registration
include ../../components/form-come-in/form-come-in
include ../../components/card-room/card-room

block page-uikit
	div.uikit-cards__wrapper
		article.uikit-cards
			section.uikit-cards__form
				+form-search-room
			section.uikit-cards__form
				+form-reservation
			section.uikit-cards__form.js-uikit-cards__form
				+date-picker
			section.uikit-cards__form
				+form-registration
			section.uikit-cards__form
				+form-come-in
			section.uikit-cards__form.js-uikit-cards__form
				+card-room
			section.uikit-cards__form.js-uikit-cards__form
				+card-room