extends ../../templates/template-uikit/template-uikit

include ../../components/form-search-room/form-search-room
include ../../components/form-reservation/form-reservation
include ../../components/date-picker/date-picker
include ../../components/form-registration/form-registration
include ../../components/form-come-in/form-come-in
include ../../components/card-room/card-room

block page-uikit
  - const cards = require('../../components/card-room/card-room.json');

  div.uikit-cards__wrapper
    article.uikit-cards
      section.uikit-cards__form-search
        +form-search-room({title: "Найдём номера под ваши пожелания"})
      section.uikit-cards__form-reservation
        +form-reservation()
      section.uikit-cards__form-picker.js-uikit-cards__form-picker
        +date-picker()
      section.uikit-cards__form-registration
        +form-registration({title: "Регистрация аккаунта", caption: "Уже есть аккаунт на Toxin"})
      section.uikit-cards__form-sign
        +form-come-in({title: "Войти", caption: "Нет аккаунта на Toxin?"})
      section.uikit-cards__form-card-top
        +card-room(cards[0])
      section.uikit-cards__form-card-bottom
        +card-room(cards[1])