extends ../../templates/template-uikit/template-uikit

include ../../components/form-search-room/form-search-room
include ../../components/form-reservation/form-reservation
include ../../components/date-picker/date-picker
include ../../components/form-registration/form-registration
include ../../components/form-come-in/form-come-in
include ../../components/hotel-room-card/hotel-room-card

block page-uikit
  -
    const cards = require('../../components/hotel-room-card/hotel-room-card.json');
    const formData = require('../../components/form-reservation/form-reservation.json');

  div.uikit-cards__wrapper
    article.uikit-cards
      section.uikit-cards__form-search
        +form-search-room({title: "Найдём номера под ваши пожелания"})
      section.uikit-cards__form-reservation
        +form-reservation(formData)
      section.uikit-cards__form-picker.js-uikit-cards__form-picker
        +date-picker()
      section.uikit-cards__form-registration
        +form-registration({title: "Регистрация аккаунта", caption: "Уже есть аккаунт на Toxin"})
      section.uikit-cards__form-sign
        +form-come-in({title: "Войти", caption: "Нет аккаунта на Toxin?"})
      section.uikit-cards__form-card-top
        +hotel-room-card(cards[0])
      section.uikit-cards__form-card-bottom
        +hotel-room-card(cards[1])