.rate-button
  max-width: 120px
  display: flex
  justify-content: center

  &__star
    display: block
    width: 24px
    height: 24px
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)

    &:hover
      opacity: 0.5

    &::before
      font-family: "Material Icons", Icomoon, sans-serif
      font-size: 24px
      line-height: 24px
      background: white
      color: black
      content: '\e904' //'\e838'
      mix-blend-mode: lighten
      cursor: pointer

  &__radio
    display: none

  &__radio:checked + &__star ~ &__star
    &::before
      content: '\e905' //'\e83a'