.rate-button
  display: flex
  justify-content: center
  &__star
    display: block
    position: relative
    background: url('rate-button__star.svg') no-repeat center center
    width: 24px
    height: 24px
  &__radio
    position: absolute
    z-index: -1
    opacity: 0
  &__radio:checked + &__star ~ &__star
    background: url('rate-button__star-border.svg') no-repeat center center