include ../../button/button

mixin filter__room
	div.filter__room
		label
			h3 Удобства номера
			div.filter__room-head
				output(name=".filter__room-head-out").filter__room-head-out
				div.filter__room-head-button
					+button({type: 'button', mode: 'dropdown'})
			div.filter__room-picker
				div.filter__room-picker-item
					h3 Спальни
					div.filter__room-picker-item-quantity
						button(type="button" disabled).filter__room-picker-item-quantity-minus -
						h3
							output.filter__room-picker-item-quantity-amount 0
						button(type="button").filter__room-picker-item-quantity-plus +
				div.filter__room-picker-item
					h3 Кровати
					div.filter__room-picker-item-quantity
						button(type="button" disabled).filter__room-picker-item-quantity-minus -
						h3
							output.filter__room-picker-item-quantity-amount 0
						button(type="button").filter__room-picker-item-quantity-plus +
				div.filter__room-picker-item
					h3 Ванные комнаты
					div.filter__room-picker-item-quantity
						button(type="button" disabled).filter__room-picker-item-quantity-minus -
						h3
							output.filter__room-picker-item-quantity-amount 0
						button(type="button").filter__room-picker-item-quantity-plus +