include ../date-picker/date-picker

mixin date-range
  div.date-range
    button.date-range__head-in(type="button")
      output.date-range__head-in-date дд.мм.гггг
      div.date-range__head-in-arrow
    button.date-range__head-out(type="button")
      output.date-range__head-out-date дд.мм.гггг
      div.date-range__head-out-arrow
    div.date-range__picker
      +date-picker