mixin date-range(props)
	-let week = ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс']
	div.date-range
		label.date-range__title Прибытие
			div(style=`height: ${props.height}`).date-range__entry
				input(type="text").date-range__input
				button(type="button").date-range__dropdown
		label.date-range__title Выезд
			div(style=`height: ${props.height}`).date-range__entry
				input(type="text").date-range__input
				button(type="button").date-range__dropdown
		div.date-range__picker
			div.date-range__picker-header
				div.date-range__picker-list
					+button({type: 'button', mode: 'arrow-left'})
				h3.date-range__picker-title Август 2019
				div.date-range__picker-list
					+button({type: 'button', mode: 'arrow-right'})
			table.date-range__picker-table
				thead
					tr
						each vol in week
							th= vol
				tbody
					-for(let i=0; i<5; i++)
						tr
							-for(let j=0; j<7; j++)
								td
									button(type="button")= j
			div.date-range__picker-footer
				div.date-range__picker-button
					+button({type: 'button', mode: 'picker', text: 'Очистить'})
				div.date-range__picker-button
					+button({type: 'button', mode: 'picker', text: 'Применить'})