.date-range
  background-color: white
  position: relative

  &__date
    display: flex
    justify-content: space-between

    &-dropdown
      display: flex
      justify-content: space-between
      border: 1px solid rgba(31, 32, 65, 0.25)
      box-sizing: border-box
      border-radius: 4px
      height: 44px
      max-width: 150px

      &-in, &-out
        min-width: 44px

      &-input, &-output
        width: 100%
        color: rgba(31, 32, 65, 0.75)
        font-family: Montserrat, sans-serif
        font-size: 14px
        line-height: 18px
        text-transform: uppercase
        border: none
        outline: none
        margin-left: 14px

  &__date-picker
    display: block
    width: 100%
    position: absolute
    margin-top: 5px
    z-index: 1

    &_range
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
      opacity: 0.25

      &-first
        border-radius: 22px 0 0 22px

      &-last
        border-radius: 0 22px 22px 0
        & .date-picker__table-date
          background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
          //opacity: 1
          //font-weight: bold
          //color: white