include ../button/button
include ../date-picker/date-picker

mixin date-range(props)
	div.date-range
		div.date-range__date-dropdown
			label Прибытие
				div.date-range__date-dropdown-in
					input(type="text" value="дд.мм.гггг").date-range__date-dropdown-input
					div.date-range__date-dropdown-button
						+button({type: 'button', mode: 'dropdown'})
			label Выезд
				div.date-range__date-dropdown-out
					input(type="text" value="дд.мм.гггг").date-range__date-dropdown-input
					div.date-range__date-dropdown-button
						+button({type: 'button', mode: 'dropdown'})
		div.date-range__date-picker
			+date-picker