.date-range__body {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}
  .date-range__entry, .date-range__check-out {
    display: flex;
    border: 1px solid rgba(31, 32, 65, 0.25);
    background-color: white;
    box-sizing: border-box;
    width: 150px;
    border-radius: 4px;
  }
    .date-range__input-entry, .date-range__input-check-out {
      border-radius: 4px;
      width: 0;
      flex-grow: 106;
      border: none;
    }
    .date-range__dropdown-entry, .date-range__dropdown-check-out {
      background: url("quantity-select__expand-icon-grey.png") no-repeat center;
      border-radius: 4px;
      width: 0;
      flex-grow: 44;
      border: none;
    }