.date-range
  background-color: white
  position: relative

  &:hover &__head-in, &:hover &__head-out
    border-color: rgba(31, 32, 65, 0.5)

  &:hover &__head-in-button:before, &:hover &__head-out-button:before
    color: rgba(31, 32, 65, 0.75)

  &__head
    display: flex
    justify-content: space-between

    &-in, &-out
      display: flex
      justify-content: space-between
      align-items: center
      width: 150px
      height: 44px
      border: 1px solid rgba(31, 32, 65, 0.25)
      box-sizing: border-box
      border-radius: 4px
      margin-top: 5px

      &-date
        text-transform: uppercase
        margin-left: 14px

      &-button
        border: none
        outline: none
        background: transparent
        width: 44px

        &::before
          display: block
          font-family: "Material Icons", sans-serif
          content: '\e313'
          font-size: 24px
          color: rgba(31, 32, 65, 0.5)

  &__picker
    display: block
    width: 100%
    position: absolute
    margin-top: 5px
    z-index: 1