include ../button/button
include ../date-picker/date-picker

mixin date-range
  div.date-range
    div.date-range__head
      label
        h3 Прибытие
        div.date-range__head-in
          output.date-range__head-in-date
          div.date-range__head-in-button
            +button({type: 'button', mode: 'dropdown'})
      label
        h3 Выезд
        div.date-range__head-out
          output.date-range__head-out-date
          div.date-range__head-out-button
            +button({type: 'button', mode: 'dropdown'})
    div.date-range__picker
      +date-picker