include ../date-picker/date-picker

mixin date-range
  div.date-range
    div.date-range__head
      div.date-range__head-in
        output.date-range__head-in-date дд.мм.гггг
        button.date-range__head-in-button(type="button")
      div.date-range__head-out
        output.date-range__head-out-date дд.мм.гггг
        button.date-range__head-out-button(type="button")
    div.date-range__picker
      +date-picker