include ../button/button
include ../toggle/toggle
include ../radio/radio

mixin registration
	form.form-registration
		fieldset.form-registration__wrapper
			h1
				legend Регистрация аккаунта
			input(type="text" value="Имя").form-registration__name
			input(type="text" value="Фамилия").form-registration__family
			div.form-registration__mw
				div.form-registration__mw-radio
					+radio({name: "registration__mw-radio", value: "m", caption: "Мужчина", checked: "true"})
				div.form-registration__mw-radio
					+radio({name: "registration__mw-radio", value: "w", caption: "Женщина"})
			label.form-registration__birth
				h3 Дата рождения
				input(type="text" value="дд.мм.гггг").form-registration__birth-date
			label.form-registration__data-come-in
				h3 Данные для входа в сервис
				input(type="text" value="Email").form-registration__data-come-in-email
				input(type="text" value="Пароль").form-registration__data-come-in-pass
			label.form-registration__subscription Получать спецпредложения
				div.form-registration__subscription-toggle
					+toggle
			div.form-registration__pay
				+button({type: 'submit', mode: 'width-arrow', text: 'Перейти к оплате'})
			div.form-registration__come-in
				label.form-registration__come-in-caption Уже есть аккаунт на Toxin
					div.form-registration__come-in-button
						+button({type: 'button', mode: 'come-in', text: 'Войти'})