.footer-copyright
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  &__social-icons
    display: flex
    max-width: 132px
    justify-content: space-between
    flex-grow: 1
  &__social-icon
    width: 22px
    height: 22px
  &__social-icon:nth-child(1)
    background-image: url("footer-copyright__twitter.png")
  &__social-icon:nth-child(2)
    background-image: url("footer-copyright__facebook.png")
  &__social-icon:nth-child(3)
    background-image: url("footer-copyright__instagram.png")
