.footer-copyright
  display: flex
  justify-content: space-between
  align-items: center
  flex-grow: 1
  flex-wrap: wrap
  line-height: 18px
  color: rgba(31, 32, 65, 0.75)

  &__social-icons
    display: flex
    max-width: 112px
    justify-content: space-between
    flex-grow: 1

  &__social-icon
    width: 24px
    height: 24px

  &__social-icon:nth-child(1)
    background: url('footer-copyright__twitter.png') no-repeat center center

  &__social-icon:nth-child(2)
    background: url('footer-copyright__facebook.png') no-repeat center center

  &__social-icon:nth-child(3)
    background: url('footer-copyright__instagram.png') no-repeat center center
