mixin footer-copyright
	div.footer-copyright
		p Copyright &copy; 2018 Toxin отель. Все права зачищены.
		div.footer-copyright__social-icons
			a.footer-copyright__social-icon(href="http://undefined.ru")
			a.footer-copyright__social-icon(href="http://undefined.ru")
			a.footer-copyright__social-icon(href="http://undefined.ru")